section.section-va
	.container
		h1.title.mt-4.
			Átomos, moléculas y websites
		.row
			.d-flex.justify-content-center
				.col-sm-12.col-md-11.col-lg-8
					include _typography

section.section-va
	.container
		h2.title Buttons
		.row
			.col-md-12
				include _buttons

section.section-va
	.container
		h2.title JS
		.row
			.col-md-12
				include _javascript
			.col-md-12
				include _forms
			//- .col-md-12
				//- include _social-icons

section.section-va
	.container
		h2.title Labels
		.row
			.col-md-12.text-center
				include _labels

section.section-va
	.container
		.row
			.col-md-12
				include _images

section.section-va
	.container
		.row
			.col-md-12
				include _nucleo-icons

	
