button.btn.btn-primary(type='button') Default
button.btn.btn-primary.btn-round(type='button') Round
button.btn.btn-primary.btn-round(type='button')
	i.td-icon.td-shape-arrow
	|  With Icon
button.btn.btn-primary.btn-icon.btn-round(type='button')
	i.td-icon.td-shape-arrow
button.btn.btn-primary.btn-simple.btn-round(type='button') Simple
button.btn.btn-primary.btn-sm Small
button.btn.btn-primary Regular
button.btn.btn-primary.btn-lg Large
button.btn Default
button.btn.btn-primary Primary
button.btn.btn-info Info
button.btn.btn-success Success
button.btn.btn-warning Warning
button.btn.btn-danger Danger
button.btn.btn-neutral Neutral
button.btn.btn-link Default
button.btn.btn-link.btn-primary Primary
button.btn.btn-link.btn-info Info
button.btn.btn-link.btn-success Success
button.btn.btn-link.btn-warning Warning
button.btn.btn-link.btn-danger Danger
