section.section-va
	.container
		.row.d-flex.justify-content-center
			.col-sm-3
				img.rounded(src='assets/img/avatar.jpg' alt='Rounded Image')
			.col-sm-3
				img.rounded-circle(src='assets/img/avatar.jpg' alt='Circle Image')
			.col-sm-3
				img.rounded.img-raised(src='assets/img/avatar.jpg' alt='Raised Image')
			.col-sm-3
				img.rounded-circle.img-raised(src='assets/img/avatar.jpg' alt='Thumbnail Image')
