section.section-va.section-nucleo-icons
	.container
		.row
			.col-lg-6.col-md-12.text-center
				h2.title
					| Icon Fonts & SVG
				h5.description
					| La clave: concebir al ser humano como un campo vibratorio que está en continuo intercambio energético con todo lo que lo rodea: otros seres humanos, otras especies, el planeta Tierra, el Universo...
				a.btn.btn-primary.btn-round(href='#')
					| View
				a.btn.btn-primary.btn-simple.btn-round(href='https://nucleoapp.com/?ref=1712' target='_blank') 
					| Nucleo Icons

			.col-lg-6.col-md-12
				.icons-container
					i.td-icon.td-air
					i.td-icon.td-loop
					i.td-icon.spin.td-reload
					i.td-icon.td-recycling
					i.td-icon.td-target
					i.td-icon.spin.td-circle
					i.td-icon.td-avocado
					i.td-icon.td-board
					i.td-icon.td-energy
					i.td-icon.td-sensor
					i.td-icon.td-sign-24h
					i.td-icon.td-tree-02
					i.td-icon.td-curve-directions 
					i.td-icon.ui-split-33
					i.td-icon.td-simple-remove
					i.td-icon.td-check-2
					i.td-icon.td-tool-blur 
					i.td-icon.td-currency 
					i.td-icon.td-barcode 
					i.td-icon.td-minimal-right
					i.td-icon.td-minimal-left
					i.td-icon.td-minimal-down
					i.td-icon.td-minimal-up
					i.td-icon.td-refresh-68 
					i.td-icon.td-rim 
					i.td-icon.td-gift 
					i.td-icon.td-chat-round-content 
					i.td-icon.td-barcode-qr 
					i.td-icon.td-goal-64 
					i.td-icon.td-puzzled
					i.td-icon.td-shape-arrow
					i.td-icon.td-window-dev
					i.td-icon.td-touch-id
					i.td-icon.td-grid-system
					i.td-icon.td-shape-triangle
					i.td-icon.td-shape-oval
					i.td-icon.td-shape-rectangle
					i.td-icon.td-shape-polygon
					i.td-icon.td-share
					i.td-icon.td-share-2
					i.td-icon.td-shuffle-01
					i.td-icon.td-loop-30
					i.td-icon.td-move-05
					i.td-icon.td-dots-upload
					i.td-icon.td-disperse
					i.td-icon.td-curve-circuit
					i.td-icon.td-split-33
					i.td-icon.td-zoom-88
					i.td-icon.split-33
					i.td-icon.td-split-vertical
					i.td-icon.td-circuit-round
					i.td-icon.td-currency-exchange
					i.td-icon.td-comment-add
					i.td-icon.td-funnel-41
					i.td-icon.td-barcode-qr-4
					i.td-icon.td-percentage-39
