section#social-buttons
	.container
		h5.title Social Icons
		.row
			.col-md-4.col-sm-5
				p.category Default
				button.btn.btn-twitter
					i.fa.fa-twitter
					|  Connect with Twitter
			.col-md-1.col-sm-1
				p.category &nbsp;
				button.btn.btn-icon.btn-twitter
					i.fa.fa-twitter
			.col-md-1.col-sm-1
				p.category &nbsp;
				button.btn.btn-icon.btn-round.btn-twitter
					i.fa.fa-twitter
			.col-md-1.col-sm-1
				p.category Neutral
				button.btn.btn-icon.btn-neutral.btn-twitter
					i.fa.fa-twitter
			.col-md-3.col-sm-4
				p.category &nbsp;
				button.btn.btn-neutral.btn-twitter
					i.fa.fa-twitter
					|  Connect with Twitter
		.row
			.col-md-4.col-sm-5
				button.btn.btn-facebook
					i.fa.fa-facebook-square
					|  Share &middot; 2.2k
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-facebook
					i.fa.fa-facebook  
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-round.btn-facebook
					i.fa.fa-facebook  
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-neutral.btn-facebook
					i.fa.fa-facebook-square  
			.col-md-3.col-sm-4
				button.btn.btn-neutral.btn-facebook
					i.fa.fa-facebook-square
					|  Share &middot; 2.2k
		.row
			.col-md-4.col-sm-5
				button.btn.btn-google
					i.fa.fa-google
					|  Share on Google+
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-google
					i.fa.fa-google  
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-round.btn-google
					i.fa.fa-google  
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-neutral.btn-google
					i.fa.fa-google  
			.col-md-3.col-sm-4
				button.btn.btn-neutral.btn-google
					i.fa.fa-google
					|  Share on Google+
		.row
			.col-md-4.col-sm-5
				button.btn.btn-linkedin
					i.fa.fa-linkedin-square
					|  Connect with Linkedin
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-linkedin
					i.fa.fa-linkedin
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-round.btn-linkedin
					i.fa.fa-linkedin
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-neutral.btn-linkedin
					i.fa.fa-linkedin-square
			.col-md-3.col-sm-4
				button.btn.btn-neutral.btn-linkedin
					i.fa.fa-linkedin-square
					|  Connect with Linkedin
		.row
			.col-md-4.col-sm-5
				button.btn.btn-pinterest
					i.fa.fa-pinterest
					|  Pint it &middot; 212
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-pinterest
					i.fa.fa-pinterest
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-round.btn-pinterest
					i.fa.fa-pinterest
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-neutral.btn-pinterest
					i.fa.fa-pinterest
			.col-md-3.col-sm-4
				button.btn.btn-neutral.btn-pinterest
					i.fa.fa-pinterest
					|  Pint it &middot; 212
		.row
			.col-md-4.col-sm-5
				button.btn.btn-youtube
					i.fa.fa-youtube-play
					|  View on Youtube
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-youtube
					i.fa.fa-youtube  
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-round.btn-youtube
					i.fa.fa-youtube  
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-neutral.btn-youtube
					i.fa.fa-youtube  
			.col-md-3.col-sm-4
				button.btn.btn-neutral.btn-youtube
					i.fa.fa-youtube-play
					|  View on Youtube
		.row
			.col-md-4.col-sm-5
				button.btn.btn-tumblr
					i.fa.fa-tumblr-square
					|  Repost
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-tumblr
					i.fa.fa-tumblr  
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-round.btn-tumblr
					i.fa.fa-tumblr  
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-neutral.btn-tumblr
					i.fa.fa-tumblr-square  
			.col-md-3.col-sm-4
				button.btn.btn-neutral.btn-tumblr
					i.fa.fa-tumblr-square
					|  Repost
		.row
			.col-md-4.col-sm-5
				button.btn.btn-github
					i.fa.fa-github
					|  Connect with Github
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-github
					i.fa.fa-github
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-round.btn-github
					i.fa.fa-github
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-neutral.btn-github
					i.fa.fa-github
			.col-md-3.col-sm-4
				button.btn.btn-neutral.btn-github
					i.fa.fa-github
					|  Connect with Github
		.row
			.col-md-4.col-sm-5
				button.btn.btn-behance
					i.fa.fa-behance-square
					|  Follow us
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-behance
					i.fa.fa-behance
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-round.btn-behance
					i.fa.fa-behance
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-neutral.btn-behance
					i.fa.fa-behance
			.col-md-3.col-sm-4
				button.btn.btn-neutral.btn-behance
					i.fa.fa-behance-square
					|  Follow us
		.row
			.col-md-4.col-sm-5
				button.btn.btn-dribbble
					i.fa.fa-dribbble
					|  Find us on Dribble
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-dribbble
					i.fa.fa-dribbble
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-round.btn-dribbble
					i.fa.fa-dribbble
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-neutral.btn-dribbble
					i.fa.fa-dribbble
			.col-md-3.col-sm-4
				button.btn.btn-neutral.btn-dribbble
					i.fa.fa-dribbble
					|  Find us on Dribble
		.row
			.col-md-4.col-sm-5
				button.btn.btn-reddit
					i.fa.fa-reddit
					|  Repost &middot; 232
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-reddit
					i.fa.fa-reddit
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-round.btn-reddit
					i.fa.fa-reddit
			.col-md-1.col-sm-1
				button.btn.btn-icon.btn-neutral.btn-reddit
					i.fa.fa-reddit
			.col-md-3.col-sm-4
				button.btn.btn-neutral.btn-reddit
					i.fa.fa-reddit
					|  Repost &middot; 232
