h2.
	Un nuevo paradigma funcional sistémico
p.
	Atomic design, patrones para crear sistemas web. Un modo de diseñar aplicaciones y sitios web, comenzando desde lo más particular para poder cambiar de forma flexible y rápida en lo general, manteniendo la consistencia a lo largo de todo el sistema.
p.
	Se trata de construir sistemas de diseño de forma más metódica, para que soporten con el menor mantenimiento posible los cambios y evoluciones que tiene un sitio web a lo largo del tiempo.
h2.
	El proceso es el mismo que sigue cualquier cosa
p
	| Todo ya existe y sigue un orden.
p
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
p
	| El Ser que somos es infinitamente más complejo que aquel que creemos ser
h3
	| Consistencia a través del número Phi, 1.618
code  
	| &lt;section class="everything"&gt; ... &lt;/section&gt; 
p
	//- https://pugjs.org/language/filters.html
	:markdown-it()
	
		```sass
		$modularscale: (
		  base: 18px,
		  ratio: $ms-ratio
		);
		```
h4.
	Aquel que creemos ser
p
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
	b sed do eiusmod 
	| tempor incididunt ut labore et dolore 
	i magna aliqua 
	| . Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
p
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
h5
	| Un
	del  nuevo 
	| juego
p
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
h6
	| La vida ya es un prototipo en evolución
p
	| La clave: concebir al ser humano como un campo vibratorio que está en continuo intercambio energético con todo lo que lo rodea: otros seres humanos, otras especies, el planeta Tierra, el Universo...
p
	| I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. 
	| I understand culture. I am the nucleus. 
	| I think that&rsquo;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.

blockquote
	p.blockquote.blockquote-info
		| &quot;A modular scale, like a musical scale, is a prearranged set of harmonious proportions.&quot;
		br
		small.text-info
			i.td-icon.x2.td-puzzled  
			|  Robert Bringhurst.

p
	| I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. 
	| I understand culture. I am the nucleus. 
	| I think that&rsquo;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.
p
	| I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. 
	| I understand culture. I am the nucleus. 
	| I think that&rsquo;s a responsibility that.

blockquote
	p.blockquote.blockquote-info
		| &quot;Mapear es un mirar que descubre continuamente nuevas conexiones entre los elementos del espacio que explora.&quot;
		br
		small.text-info
			i.td-icon.x2.td-puzzled   
			|  Eugenio Carutti, "Inteligencia Vincular"

p.
	El lenguaje es código

p.text-muted
	| El Ser que somos es infinitamente más complejo que aquel que creemos ser.

p.text-primary
	| Comprender la verdadera naturaleza de las cosas es presenciar su nacimiento.

p.text-info
	| Un mirar que descubre continuamente nuevas #conexiones entre los elementos del espacio que explora....

p.text-success
	| Un mirar que descubre continuamente nuevas #conexiones entre los elementos del espacio que explora....

p.text-warning
	| Un mirar que descubre continuamente nuevas #conexiones entre los elementos del espacio que explora....

p.text-danger
	| Falla rápido, falla barato y vuelve a por más
