section.section-va(data-background-color='gray')
	.container
		h3.title Cards
		.row
			include cards/_cards-1				
			//- include cards/_cards-2
			//- include cards/_cards-3
			//- include cards/_cards-4
			//- include cards/_cards-5
			//- include cards/_cards-6
			//- include cards/_cards-7
			//- include cards/_cards-8
			//- include cards/_cards-9
