.container.pt-4
	.row
		.col-md-12.mx-auto
			.row#accordion.card-collapse(role='tablist' aria-multiselectable='true')
				.col-md-6.card.card-plain
					#head-1.card-header(role='tab')
						a(data-toggle='collapse' data-parent='#accordion' href='#body-1' aria-expanded='true' aria-controls='body-1')
							h6 1.
							i.td-icon.td-minimal-down
					#body-1.collapse.show(role='tabpanel' aria-labelledby='head-1')
						.card-body
							p.
								Ser. Emprender, chispa, iniciativa, riesgo, impulso, fuerza.
								El inicio de las cosas. 
								La aventura, crear nuevas brechas. 
								Experimentación de sí mismo en acción. 
								Estímulos, entusiasmo y alegría.
								Va en busca del exterior y crea un efecto en él.
								Su elemento es el fuego y su función es la intuición.
							//- :markdown-it()
							//- 
							//- 	```javascript
							//- 	function Iniciar();
							//- 	```
				.col-md-6.card.card-plain
					#head-2.card-header(role='tab')
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#body-2' aria-expanded='false' aria-controls='body-2')
							h6 2.
							i.td-icon.td-minimal-down
					#body-2.collapse.show(role='tabpanel' aria-labelledby='head-2')
						.card-body
							p.
								Tener. Giramos en torno a la necesidad. 
								Cubrir lo que a uno le falta, de tener lo que desea.
								Recursos, dinero, lo que ocurre ¿aporta algo?.
								La posesión del deseo.
								Tendencia a acumular, asegurar y mantener los estados conseguidos.
								Permitimos que el exterior entre en nosotros.
								Su esencia es recibir lo que el entorno le da. 
								Por eso disfruta al estar en contacto con la Naturaleza: ama la vida.
								Su función es “hacer cuerpo” o materializar las cosas. 
								Su elemento es la tierra y su función es la percepción.
								Posesión, persistencia.
								
				.col-md-6.card.card-plain
					#head-3.card-header(role='tab')
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#body-3' aria-expanded='false' aria-controls='body-3')
							h6 3. 
							i.td-icon.td-minimal-down
					#body-3.collapse.show(role='tabpanel' aria-labelledby='head-3')
						.card-body
							p.
								El pensar. Brainstorming, contactos, red.
								Cualidad de crear nuevas posibilidades en el presente.
								Su juego es el de combinar, vincular, intercambiar continuamente.
								Versatilidad, movilidad, conectar y desconectar.
								Enlace dos lugares diferentes o distantes.
								Crear opciones sin apegarse a ellas.
								Es el comerciante, el periodista, el comunicador nato.
								Su elemento es el aire y su función es de pensamiento.
				.col-md-6.card.card-plain
					#head-4.card-header(role='tab')
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#body-4' aria-expanded='false' aria-controls='body-4')
							h6 4.
							i.td-icon.td-minimal-down
					#body-4.collapse.show(role='tabpanel' aria-labelledby='head-4')
						.card-body
							p.
								Gestión emocional, equipo.
								Sentir. Sensibilidad. Separación entre “adentro” de un “afuera”.
								Para que algo se desarrolle con plenitud y garantías de éxito, es necesario aislarlo del exterior protegiéndolo con cuidado y mimo.
								La suma de las experiencias que se depositan en el inconsciente humano colectivo.
								Su elemento es el agua y su función es el sentimiento.
				.col-md-6.card.card-plain
					#head-5.card-header(role='tab')
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#body-5' aria-expanded='false' aria-controls='body-5')
							h6 5.
							i.td-icon.td-minimal-down
					#body-5.collapse.show(role='tabpanel' aria-labelledby='head-5')
						.card-body
							p.
								Marketing, target, como lo presento...
								Querer. El descubrimiento del Yo.
								Querer mostrarse y transmitir nuestra fuerza en el exterior.
								Irradiar. Energía. Brillo. Creatividad. Talento.
								Su elemento es el fuego y su función es la intuición.
				.col-md-6.card.card-plain
					#head-6.card-header(role='tab')
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#body-6' aria-expanded='false' aria-controls='body-6')
							h6 6. 
							i.td-icon.td-minimal-down
					#body-6.collapse.show(role='tabpanel' aria-labelledby='head-6')
						.card-body
							p.
								Analizar. Optimizar procesos, necesidad de ordenar. Trabajo. 
								Percepción de que uno mismo y todo lo demás forma parte de un sistema mayor.
								Apertura a algo que te incluye.
								Todo tiene su sitio y su lugar para que todo funcione mejor.
								Uso de la mente lógica para clasificar y colocar.
								Lógica, orden y sentido práctico.
				.col-md-6.card.card-plain
					#head-7.card-header(role='tab')
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#body-7' aria-expanded='false' aria-controls='body-7')
							h6 7. 
							i.td-icon.td-minimal-down
					#body-7.collapse.show(role='tabpanel' aria-labelledby='head-7')
						.card-body
							p.
								Cooperación, asociaciones que fortalecen el proyecto.
								Equilibrar. Contactar con los demás.
								Armonía, todo en su justa medida, equilibrio, igualdad, mesura, tacto, justicia, inteligencia.
								Su elemento es el aire y su función es de pensamiento.
				.col-md-6.card.card-plain
					#head-8.card-header(role='tab')
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#body-8' aria-expanded='false' aria-controls='body-8')
							h6 8. 
							i.td-icon.td-minimal-down
					#body-8.collapse.show(role='tabpanel' aria-labelledby='head-8')
						.card-body
							p.
								Desear. Gestión de emociones relacionadas con un proyecto.
								Ir a la raíz, a lo esencial.
								Intensidad, apasionamiento.
								Su elemento es el agua y su función es el sentimiento.
								
				.col-md-6.card.card-plain
					#head-9.card-header(role='tab')
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#body-9' aria-expanded='false' aria-controls='body-9')
							h6 9. 
							i.td-icon.td-minimal-down
					#body-9.collapse.show(role='tabpanel' aria-labelledby='head-9')
						.card-body
							p.
								Abrir sucursales, abrir fronteras...
								Comprender. Expansión, espíritu explorador.
								Es la energía que comprende y sintetiza.
								Apunta y marca una dirección y sentido vital.
								Visión global que hace ver el porqué de los hechos, teniendo como consecuencia una confianza innata en la vida.
							
				.col-md-6.card.card-plain
					#head-10.card-header(role='tab')
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#body-10' aria-expanded='false' aria-controls='body-10')
							h6 10. 
							i.td-icon.td-minimal-down
					#body-10.collapse.show(role='tabpanel' aria-labelledby='head-10')
						.card-body
							p.
								Resultado, empresa madura, visión estratégica.
								Utilizar. Su elemento es la tierra y su función es la percepción.
				.col-md-6.card.card-plain
					#head-11.card-header(role='tab')
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#body-11' aria-expanded='false' aria-controls='body-11')
							h6 11. 
							i.td-icon.td-minimal-down
					#body-11.collapse.show(role='tabpanel' aria-labelledby='head-11')
						.card-body
							p.
								Innovación, actualización contínua, avances, nuevos paradigmas.
								Saber. Su elemento es el aire y su función es de pensamiento.
							
				.col-md-6.card.card-plain
					#head-12.card-header(role='tab')
						a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#body-12' aria-expanded='false' aria-controls='body-12')
							h6 12. 
							i.td-icon.td-minimal-down
					#body-12.collapse.show(role='tabpanel' aria-labelledby='head-12')
						.card-body
							p.
								El proyecto se disuelve en lo colectivo, solidaridad...
								Creer. Su elemento es el agua y su función es el sentimiento.
