.section.section-images(style="background-image:url('assets/img/bg17.jpg');")
	.container
		.content-center
			.row.justify-content-center
				.col-md-6.text-left
					h1.title Components
					h4.description
						| Descubre a La Creación en ti
					br

					//- .buttons
					//- 	a.btn.btn-neutral.btn-primary.btn-lg.mr-1(href='#')
					//- 		i.now-ui-icons.files_single-copy-04
					//- 		|  Read More..
					//- 	a.btn.btn-primary.btn-lg(href='#')
					//- 		i.now-ui-icons.arrows-1_share-66
					//- 		|  Subscribe
			//- .row
			//- 	.col-md-4
			//- 		.info.info-hover
			//- 			.icon.icon-primary
			//- 				i.now-ui-icons.ui-2_chat-round
			//- 			h4.info-title Social Conversations
			//- 			p.description Gain access to the demographics, psychographics, and location of unique people.
			//- 	.col-md-4
			//- 		.info.info-hover
			//- 			.icon.icon-success
			//- 				i.now-ui-icons.business_chart-pie-36
			//- 			h4.info-title Analyze Performance
			//- 			p.description
			//- 				| Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to gain rich insights.
			//- 	.col-md-4
			//- 		.info.info-hover
			//- 			.icon.icon-warning
			//- 				i.now-ui-icons.design-2_ruler-pencil
			//- 			h4.info-title Measure Conversions
			//- 			p.description Track actions taken on your website, understand the impact on your bottom line.
