section.section-va(data-background-color='gray')
	.container
		h3.title Navigation
		.row
			//- .col-md-12
			//- 	include navbars/_navbar-1

			.col-md-12
				include navbars/_navbar-2

			//- .col-md-12
			//- 	p Another navbar fixed on top
			//- 	include navbars/_navbar-3
