section(data-background-color="gold")
	.container
		.row
			.col-md-6.ml-auto.mr-auto.text-center
				h2.title.text-primary El viaje de la aspiración a la respiración.
				h4.description.text-primary You have Free Unlimited Updates and Premium Support on each package.
				.section-space
		.row
			.col-md-3
				.card.card-pricing.card-plain
					.card-body
						h6.category Subversiva honestidad
						.icon.icon-warning
							i.td-icon.td-board
						h3.card-title €10
						ul
							li Complete documentation
							li Working materials in Sketch
						a.btn.btn-neutral.btn-warning.btn-round(href='#') Add to Cart
			.col-md-3
				.card.card-pricing
					.card-body
						h6.category Alpha Pack
						.icon.icon-primary
							i.td-icon.td-board
						h3.card-title €67
						ul
							li Working materials in EPS
							li 6 months access to the library
						a.btn.btn-primary.btn-round(href='#') Add to Cart
			.col-md-3
				.card.card-pricing.card-plain
					.card-body
						h6.category Charlie Pack
						.icon.icon-success
							i.td-icon.td-board
						h3.card-title €69
						ul
							li Working materials in PSD
							li 1 year access to the library
						a.btn.btn-neutral.btn-success.btn-round(href='#') Add to Cart
			.col-md-3
				.card.card-pricing.card-plain
					.card-body
						h6.category Extra Pack
						.icon.icon-danger
							i.td-icon.td-board
						h3.card-title €159
						ul
							li Complete documentation
							li 2GB cloud storage
						a.btn.btn-neutral.btn-danger.btn-round(href='#') Add to Cart
#pricing-2.pricing-2
	.container
		.row
			.col-md-6.ml-auto.mr-auto.text-center
				h2.title Consolidar lo que va bien; el reto.
				ul.nav.nav-pills.nav-pills-primary.justify-content-center(role='tablist')
					li.nav-item
						a.nav-link.active(data-toggle='tab' href='#pill1' role='tablist')
							| Legal Entity
					li.nav-item
						a.nav-link(data-toggle='tab' href='#pill2' role='tablist')
							| Individual
		.row
			.col-md-4
				.card.card-pricing.card-plain
					.card-body
						h6.category Enterprise
						h1.card-title
							small €
							| 59
						ul
							li
								b 10GB
								|  Disk Space
							li
								b 100GB
								|  Monthly Bandwidth
							li
								b 20
								|  Email Accounts
							li
								b Unlimited
								|  subdomains
						a.btn.btn-primary.btn-round(href='#')
							| Sign Up
			.col-md-4
				.card.card-pricing.card-background.card-raised(style="background-image: url('assets/img/bg20.jpg')")
					.card-body
						h6.category.text-info Professional
						h1.card-title
							small €
							| 29
						ul
							li
								b 5GB
								|  Disk Space
							li
								b 50GB
								|  Monthly Bandwidth
							li
								b 10
								|  Email Accounts
							li
								b Unlimited
								|  subdomains
						a.btn.btn-neutral.btn-round(href='#')
							| Sign Up
			.col-md-4
				.card.card-pricing.card-plain
					.card-body
						h6.category Standard
						h1.card-title
							small €
							| 17
						ul
							li
								b 2GB
								|  Disk Space
							li
								b 25GB
								|  Monthly Bandwidth
							li
								b 5
								|  Email Accounts
							li
								b Unlimited
								|  subdomains
						a.btn.btn-primary.btn-round(href='#')
							| Get Started

#pricing-3.pricing-3.section-image(style="background-image: url('assets/img/bg20.jpg')")
	.container
		.row
			.col-md-6.ml-auto.mr-auto.text-center
				h2.title Pick the best plan for you
				h4.description Tu proceso es el mismo que sigue todo lo demás.
				.section-space
		.row
			.col-md-4.ml-auto
				.card.card-pricing
					.card-body
						h6.category Freelance
						h1.card-title
							small €
							| 29
							small /mo
						ul
							li 1 GB of space
							li Limited Support
							li Support at €25/hour
							li Limited cloud access
						a.btn.btn-primary.btn-round(href='#')
							| Get Started
			.col-md-4.mr-auto
				.card.card-pricing.card-raised(data-background-color='orange')
					.card-body
						h6.category Business
						h1.card-title
							small €
							| 59
							small /mo
						ul
							li 5 GB of space
							li UnLimited Support
							li Unlimited Downloads
							li Full cloud access
						a.btn.btn-neutral.btn-round(href='#')
							| Get Started

#pricing-4.pricing-4
	.container
		.row
			.col-md-6.ml-auto.mr-auto.text-center
				h2.title Pick the best plan for you
				h4.description You have Free Unlimited Updates and Premium Support on each package.
				.section-space
		.row
			.col-md-4
				.card.card-pricing.card-plain
					.card-body
						h6.category Starter
						.icon.icon-danger
							i.td-icon.td-board
						h3.card-title
							small €
							| 10
						ul
							li 1000 MB
							li 3 email
							li 5 Databases
						a.btn.btn-danger.btn-round(href='#')
							| Get it Now
			.col-md-4
				.card.card-pricing(data-background-color='orange')
					.card-body
						h6.category Professional
						.icon.icon-primary
							i.td-icon.td-board
						h3.card-title
							small €
							| 40
						ul
							li Unlimited MB
							li Unlimited emails
							li Full Support
						a.btn.btn-neutral.btn-primary.disabled.btn-round(href='#')
							| Current Plan
			.col-md-4
				.card.card-pricing.card-plain
					.card-body
						h6.category Basic
						.icon.icon-warning
							i.td-icon.td-board
						h3.card-title
							small €
							| 20
						ul
							li 1000 MB
							li 3 email
							li No Support
						a.btn.btn-warning.btn-round(href='#')
							| Upgrade Plan

#pricing-5.pricing-5.section-pricing-5.section-image(style="background-image: url('assets/img/bg15.jpg')")
	.container
		.row
			.col-md-4
				h2.title Choose a plan for your next project
				ul.nav.nav-pills.nav-pills-primary(role='tablist')
					li.nav-item
						a.nav-link.active(data-toggle='tab' href='#personal' role='tablist')
							| Expensive
					li.nav-item
						a.nav-link(data-toggle='tab' href='#commercial' role='tablist')
							| Cheaper
				p.description
					| You have Free Unlimited Updates and Premium Support on each package. You also have 20 days to request a refund if you&apos;re not happy with your purchase.
			.col-md-7.ml-auto.mr-auto
				.tab-content.tab-space
					#personal.tab-pane.active
						.row
							.col-md-6
								.card.card-pricing.card-raised
									.card-body
										h6.category Plus
										h1.card-title
											small €
											| 100
										ul
											li
												b 15
												|  Projects
											li
												b 5GB
												|  Storage
											li
												b Unlimited
												|  users
											li
												b No time
												|  tracking
										a.btn.btn-primary.btn-round(href='#')
											| Buy Now!
							.col-md-6
								.card.card-pricing.card-plain
									.card-body
										h6.category Maximum
										h1.card-title
											small €
											| 120
										ul
											li
												b 25
												|  Projects
											li
												b 15GB
												|  Storage
											li
												b Unlimited
												|  users
											li
												b No time
												|  tracking
										a.btn.btn-primary.btn-round(href='#')
											| Buy Now!
					#commercial.tab-pane
						.row
							.col-md-6
								.card.card-pricing.card-raised
									.card-body
										h6.category Standard
										h1.card-title
											small €
											| 20
										ul
											li
												b 5
												|  Projects
											li
												b 2GB
												|  Storage
											li
												b Unlimited
												|  users
											li
												b No time
												|  tracking
										a.btn.btn-primary.btn-round(href='#')
											| Buy Now!
							.col-md-6
								.card.card-pricing.card-plain
									.card-body
										h6.category Premium
										h1.card-title
											small €
											| 60
										ul
											li
												b 7
												|  Projects
											li
												b 3GB
												|  Storage
											li
												b Unlimited
												|  users
											li
												b No time
												|  tracking
										a.btn.btn-primary.btn-round(href='#')
											| Buy Now!
