.projects-1
	.container-fluid
		.row
			.col-md-8.ml-auto.mr-auto.text-center
				h2.title Un desarrollo vincular - 1
				ul.nav.nav-pills.nav-pills-danger.justify-content-center(role='tablist')
					li.nav-item
						a.nav-link.active(data-toggle='tab' href='#pill1' role='tablist')
							| All
					li.nav-item
						a.nav-link(data-toggle='tab' href='#pill2' role='tablist')
							| History
					li.nav-item
						a.nav-link(data-toggle='tab' href='#pill3' role='tablist')
							| Satire
					li.nav-item
						a.nav-link(data-toggle='tab' href='#pill4' role='tablist')
							| Fiction
				.tab-content.tab-space
					#pill1.tab-pane.active
					#pill2.tab-pane
					#pill3.tab-pane
					#pill4.tab-pane
		.row
			.col-md-6.px-0
				.card.card-background.card-background-product.card-no-shadow(style="background-image: url('assets/img/bg15.jpg')")
					.card-body
						h6.category History
						h3.card-title
							| La Inteligencia Vincular no se puede "tener"
						p.card-description
							| Developed on the occasion of an exhibition of the same name, The City Lost &amp; Found: Capturing New York...
						a.btn.btn-danger.btn-round(href='#')
							i.now-ui-icons.ui-1_send
							|  View Book
			.col-md-6.px-0
				.card.card-background.card-background-product.card-no-shadow(style="background-image: url('assets/img/bg17.jpg')")
					.card-body
						h6.category Satire
						h3.card-title Alcanzar la Realidad
						p.card-description
							| Satires, in the most basic definition, are works making fun of some sort of person or institution...
						a.btn.btn-neutral.btn-round(href='#')
							i.now-ui-icons.ui-1_send
							|  View more
			.col-md-6.px-0
				.card.card-background.card-background-product.card-no-shadow(style="background-image: url('assets/img/bg15.jpg')")
					.card-body
						h6.category Fiction
						h3.card-title La Inteligencia Vincular no se puede "tener"
						p.card-description
							| Diferenciarse resonando en la unidad es el arquetipo profundo del universo...
						a.btn.btn-neutral.btn-round(href='#')
							i.now-ui-icons.ui-1_send
							|  Read Now
			.col-md-6.px-0
				.card.card-background.card-background-product.card-no-shadow(style="background-image: url('assets/img/bg20.jpg')")
					.card-body
						h6.category Basic Civitas
						h3.card-title The Right Mistake
						p.card-description
							| Diferenciarse resonando en la unidad es el arquetipo profundo del universo...
						a.btn.btn-danger.btn-round(href='#')
							i.now-ui-icons.ui-1_send
							|  Read Now

.projects-2
	.container
		.row
			.col-md-8.ml-auto.mr-auto.text-center
				h6.text-muted Our work
				h2.title Un desarrollo vincular - 2
				h5.description
					| This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.
				.section-space
		.row
			.col-md-4
				.card.card-plain
					a(href='#')
						.card-image
							img.rounded(src='./assets/img/bg17.jpg')
					.card-body
						a(href='#')
							h4.card-title Now UI Kit Free
						h6.category.text-primary TODH 4/12
						p.card-description
							| Now UI Kit is a Free Bootstrap UI Kit with a fresh, new design inspired by Google&apos;s material design. It&apos;s a great pleasure to introduce to you the material concepts in an easy to use and beautiful set of components.
			.col-md-4
				.card.card-plain
					a(href='#')
						.card-image
							img.rounded(src='./assets/img/bg15.jpg')
					.card-body
						a(href='#')
							h4.card-title Percibir conexiones y permitir ser transformado por ellas
						h6.category.text-primary Premium Template
						p.card-description
							| Light Bootstrap Dashboard PRO is a Bootstrap Admin Theme designed to look simple and beautiful. Forget about boring dashboards and grab yourself a copy to kickstart new project!
			.col-md-4
				.card.card-plain
					a(href='#')
						.card-image
							img.rounded(src='./assets/img/bg15.jpg')
					.card-body
						a(href='#')
							h4.card-title Get Shit Done Kit PRO
						h6.category.text-primary Premium UI Kit
						p.card-description
							| Get Shit Done Kit Pro it&apos;s a Bootstrap Kit that comes with a huge number of customisable components. They are pixel perfect, light and easy to use and combine with other elements.

.projects-3
	.container
		.row
			.col-md-8.ml-auto.mr-auto.text-center
				h6.category.text-muted Our work
				h2.title Some of Our Awesome Projects - 3
		.section-story-overview
			.row
				.col-md-6
					.image-container.image-left(style="background-image: url('assets/img/bg15.jpg')")
						//- First image on the left side
						p.blockquote.blockquote-primary
							| &quot;Amber Interiors is available to assist in all aspects of a project from start to finish including consulting with Architects and Builders&quot;
				.col-md-5
					// First image on the right side, above the article
					.image-container.image-right(style="background-image: url('assets/img/bg17.jpg')")
					h6.category.text-primary Design
					h4.card-title Coco Kelley
					p
						| Amber Lewis&rsquo;s interior design blog takes you inside the creative workings of her Los Angeles&ndash;based studio. Keep an eye on this website for an industry insider&rsquo;s point of view.
		.section-story-overview
			.row
				.col-md-6
					// First image on the left side
					.image-container.image-left(style="background-image: url('assets/img/bg15.jpg')")
						p.blockquote.blockquote-primary
							| &quot;We provide a simple, approachable way to decorate your desired space with ease. Each e-d&eacute;cor is completely individualized&quot;
				.col-md-5
					// First image on the right side, above the article
					.image-container.image-right(style="background-image: url('assets/img/bg20.jpg')")
					h6.category.text-primary E-Decor
					h4.card-title Red Trad
					p
						| Percibir conexiones y permitir ser transformado por ellas

.projects-4(data-background-color='gray')
	.container-fluid
		.row
			.col-md-8.mr-auto.ml-auto.text-center
				h6.category.text-muted Our work
				h2.title Some of Our Awesome Projects - 4
		.row
			.col-md-6.px-0
				.card.card-fashion.card-background(style="background-image: url('assets/img/bg15.jpg')")
					.card-body
						.card-title.text-left
							h2
								a(href='#')
									| The &ldquo;crazy idea that could lead to a big future commission&rdquo; project.
						.card-footer.text-left
							.stats
								span
									i.td-icons.td-enlarge-circle
									| The &ldquo;Crazy idea&rdquo; project
			.col-md-6.px-0
				.card-container
					.card.card-fashion
						.card-title
							a(href='#')
								h4
									a(href='#')
										| Sostener la tensión entre estar atentos a lo que sucede y la actividad ansiosa constructiva del "yo"...
						.card-body
							.card-footer
								.stats
									span
										i.now-ui-icons.education_paper
										|  The &ldquo;I&rsquo;m on vacation&rdquo; project
					.card.card-fashion.card-background(style="background-image: url('assets/img/bg17.jpg')")
		.row
			.col-md-6.px-0
				.card-container
					.card.card-fashion.card-background(style="background-image: url('assets/img/avatar.jpg')")
					.card.card-fashion.arrow-left
						.card-title
							h4
								a(href='#')
									| Percibir, discernir, manifestar y trascender vínculos...
						.card-body
							.card-footer
								.stats
									span
										i.now-ui-icons.design_app
										| The &quot;Agile Project&quot; project
			.col-md-6.px-0
				.card.card-fashion.card-background(style="background-image: url('assets/img/bg20.jpg')")
					.card-body
						.card-title.text-left
							h2
								a(href='#') Performing a Project Premortem
						.card-footer.text-left
							.stats
								span
									i.now-ui-icons.media-2_sound-wave
									| The &quot;Premortem&quot; project

section
	.container
		.row
			.col-md-8.ml-auto.mr-auto.text-center
				h2.title Inteligencia Vincular
				h4.description
					| Percibir conexiones y permitir ser transformado por ellas.
				.section-space
		.row
			.col-md-5.ml-auto
				.card.card-background.card-background-product(style="background-image: url('assets/img/bg17.jpg')")
					.card-body
						h2.card-title Social Analytics
						p.card-description
							| Insight to help you create, connect, and convert. Understand Your Audience&apos;s Interests, Influence, Interactions, and Intent. Discover emerging topics and influencers to reach new audiences.
						label.badge.badge-neutral Analytics
			.col-md-5.mr-auto
				.info.info-horizontal
					.icon.icon-primary
						i.now-ui-icons.ui-2_chat-round
					.description
						h4.info-title Listen to Social Conversations
						p
							| Gain access to the demographics, psychographics, and location of unique people who talk about your brand.
				.info.info-horizontal
					.icon.icon-primary
						i.now-ui-icons.business_chart-pie-36
					.description
						h4.info-title Performance Analyze
						p
							| Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to gain rich insights from easy-to-use reports.
				.info.info-horizontal
					.icon.icon-primary
						i.now-ui-icons.design-2_ruler-pencil
					.description
						h4.info-title Social Conversions
						p
							| Track actions taken on your website that originated from social, and understand the impact on your bottom line.
		hr
		.row
			.col-md-5.ml-auto.mt-5
				.info.info-horizontal
					.icon.icon-primary
						i.td-icons.td-enlarge-circle
					.description
						h4.info-title Work With Any Team
						p.description
							| Whether it&rsquo;s for work or even the next family vacation, Trello helps your team.
				.info.info-horizontal
					.icon.icon-primary
						i.td-icons.td-enlarge-circle
					.description
						h4.info-title A Productivity Platform
						p.description
							| Tu proceso es el mismo que sigue todo lo demás
				.info.info-horizontal
					.icon.icon-primary
						i.td-icons.td-enlarge-circle
					.description
						h4.info-title Always In Sync
						p.description
							| El viaje de la aspiración a la respiración
			.col-md-5.mr-auto
				.card.card-background.card-background-product(style="background-image: url('assets/img/bg15.jpg')")
					.card-body
						h2.card-title Trello lets you work.
						p.card-description
							| Trello&rsquo;s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and rewarding way.
						label.badge.badge-neutral Trello
