.contactus
	#contactUs2Map.map.big-map
	.col-lg-6.col-md-10
		.card.card-contact.card-raised
			form#contact-formm(role='form' method='post')
				.card-header.text-center
					h4.card-title Contact Us
				.card-body
					.row
						.col-md-6
							.info.info-horizontal
								.icon.icon-primary
									i.td-icon.td-sensor
								.description
									h5.info-title Give us a ring
									p
										| Michael Jordan
										br
										|  +40 762 321 762
										br
										|  Mon - Fri, 8:00-22:00
						.col-md-6
							.info.info-horizontal
								.icon.icon-primary
									i.td-icon.td-sensor
								.description
									h5.info-title Find us at the office
									p
										| Bld Mihail Kogalniceanu, nr. 8,
										br
										|  7652 Bucharest,
										br
										|  Romania
					.row
						.col-md-6.pr-2
							label Full name
							.input-group
								.input-group-prepend
									span.input-group-text
										i.td-icon.td-sensor
								input.form-control(type='text' placeholder='First Name...')
						.col-md-6.pl-2
							label Email address
							.input-group
								.input-group-prepend
									span.input-group-text
										i.td-icon.td-sensor
								input.form-control(type='text' placeholder='Email Here...')
					.row
						.col-md-6
							.form-check
								label.form-check-label
									input.form-check-input(type='checkbox')
									span.form-check-sign
									|                                                 I&apos;m not a robot
						.col-md-6
							button.btn.btn-primary.btn-round.pull-right(type='submit') Send Message
