footer.footer(data-background-color='black')
	.container-full-widht
		.row.text-center
			.col-md-6.col-sm-3
				nav
					ul
						li
							a(href='./index.html')
								| TODH
						li
							a(href='./sections.html#top')
								| Lifelike

			.col-md-6.col-sm-9
				.copyright
					//- | &copy; 
					script(type='text/javascript' async='' src='https://www.google-analytics.com/ga.js')
					|  A Lifelike Prototype created by 
					a(href='https://sergiofores.es' target='_blank') Sergio Forés
					| .
					script.
						document.write(new Date().getFullYear())
