//- Page Header
include ../partials/components/headers/_header-5

//- Page Content
section.section-va.container
	.row
		.col-md-8.ml-auto.mr-auto.text-center
			h2.title.
				La visión
			h4.lead.
				Una persona, un equipo, un producto... todo es una conversación
	.row
		.col-md-4.col-sm-12
			.info.info-hover
				.icon.icon-warm
					i.td-icon.td-loop
				h4.info-title Reconociendo patrones universales
				p
					| Sentir el orden, cómo todo ya funciona en coherencia dentro de un universo sistémico y holístico.
				button.btn.btn-primary.btn-simple.btn-sm(type='button' data-toggle='modal' data-target='#noticeModal')
					| Ampliar info
		.col-md-4
			.info.info-hover
				.icon.icon-warm
					i.td-icon.td-target
				.description
					h4.info-title Coherencia y transparencia
					p
						| Abordar la complejidad y la incertidumbre indagando en el potencial creativo humano.
		.col-md-4
			.info.info-hover
				.icon.icon-warm
					i.td-icon.spin.td-circle
				.description
					h4.info-title Acción contínua incremental
					p
						| N-Hacer en cada momento como una semilla que germina y se desarrolla. Generar hechos concretos desde lo natural.
		.col-md-4
			.info.info-hover
				.icon.icon-warm
					i.td-icon.td-avocado
				.description
					h4.info-title Consolidar lo que ya funciona bien
					p
						| No partimos de cero. No podemos obviar lo que ya funcionaba bien antes de llegar nosotros.
		.col-md-4
			.info.info-hover
				.icon.icon-warm
					i.td-icon.td-board
				.description
					h4.info-title Simpler. Smarter. Faster.
					p
						| Lifelike es un prototipo real. Porque no hay mapa más preciso que la realidad.
		.col-md-4
			.info.info-hover
				.icon.icon-warm
					i.td-icon.td-energy
				.description
					h4.info-title Percibir tramas vinculares
					p
						| Percibir vínculos antes que objetos. Nuestro escenario es mutable y nosotros también.

//- ****
//- FEATURES
//- ****
section.section-va.container
	.row
		.col-md-9.ml-auto.mr-auto.text-center
			h2.title 
				| Crear como ya lo hace la vida
			h4.lead
				| El arbol está en la semilla
		.col-md-4
			.info.info-hover
				.icon.icon-primary
					i.td-icon.td-sensor
				h4.info-title Mapeo del territorio
				p
					| Hacemos que cualquier proyecto alcance su potencial con mejora contínua incremental.
		.col-md-4
			.info.info-hover
				.icon.icon-primary
					i.td-icon.td-sign-24h
				h4.info-title Todo aquí ya
				p
					| Toma de requerimientos y respuesta en tiempo real. Se trata de integrar la información.
		.col-md-4
			.info.info-hover
				.icon.icon-primary
					i.td-icon.td-tree-02
				h4.info-title Lifelike prototyping
				p 
					| Modular components. Continuous Integration, Delivery, and Deployment.

//- ****
//- PILLS
//- ****
section.section-va.container
	.row
		.col-md-9.ml-auto.mr-auto.text-center
			h2.title
				| Proceso
			h4.lead
				| Turning your ideas into tangible prototypes
	.row.tab
		.col-md-2.ml-auto
			ul.nav.nav-pills.nav-pills-primary.flex-column(role='tablist')
				li.nav-item
					a.nav-link.active(data-toggle='tab' href='#link4' role='tablist')
						| Emoción
				li.nav-item
					a.nav-link(data-toggle='tab' href='#link5' role='tablist')
						| Intención
				li.nav-item
					a.nav-link(data-toggle='tab' href='#link6' role='tablist')
						| Desarrollo
				li.nav-item
					a.nav-link(data-toggle='tab' href='#link6b' role='tablist')
						| Servicio
		.col-md-9.ml-auto.mr-auto
			.tab-content
				#link4.tab-pane.active
					h6 Intuición, inspiración, inhalación, apertura,
					p Sentir, corazón, pulso, traer, penetrar, darse cuenta, canal, agua, primavera, percepción, acceder, escucha, observar, posibilidades, opciones, descubrir, recibir, captar, Neptuno, Venus, Luna, Quijote, emoción, excitación, plenitud, atracción, la llamada (al viaje), estímulo, implicación, activar, invitar, insight, sintonizar, evocar, atención, importar, espacio, emanación...
				#link5.tab-pane
					h6 Percibir conexiones y permitir ser transformado por ellas.
					p Procesar, cabeza, discernimiento, fuego, otoño, foco, elección, orden, límites, distracción, idea, intención, registrar, filtro, criterio, estructura, lenguaje, Mercurio, Saturno, tecnología, problemas, plan, molde, norte, mecanismo, acción de mapear, articular, narrar, acotar, juicio, identificar, comprensión, código, síntesis, descifrar...
				#link6.tab-pane
					h6 Un Hacer que sucede
					p Mano, acción, impulso, tierra, verano, manifestar, materia, marte, saturno, experiencia, acontecimiento, forma, tocar, tracción, prueba, vivencia, registro, consumo de energía, cristalizar, nacer, hechos, aplicar, validar, aparecer, solidez, crecimiento, objeto, ocurrir, transformación, verdad, vivencia, acontecer, nacer...
				#link6b.tab-pane
					h6 Un Decir que vincula
					p Mostrar, exhalar, pronunciar, trascender, soltar, alcanzar, voz, aire, invierno, transmisión, encuentro, desplegar, entregar, comunicar, el otro, aportar, sembrar, devolver, continuidad...

//- ****
//- CONTACTO
//- ****
section.section-va.section-contacto.container
	.row
		.col-md-8.ml-auto.mr-auto.text-center
			h2.title
				| Contacto
			h5.description
				| ¿Nos dejamos transformar por el vínculo?
	.row.justify-content-center
		.col-md-6.ml-1.mr-1
			.card.card-profile.card-plain
				.card-avatar
					img.img(src='assets/img/sergio.jpg')
				.card-body
					p
						| Sergio Forés
						br
						| Artista holístico / Diseñador / Front-end
						br
						| "Soy un árbol encerrado en el cuerpo de una semilla."
					.card-footer
						a(href='https://es.linkedin.com/in/sergiofores' target='_blank')
							|  Linkedin  
							i.td-icon.td-shape-arrow  
						a(href='https://twitter.com/t0tinspire' target='_blank')
							|  Twitter  
							i.td-icon.td-shape-arrow  
						a(href='https://www.instagram.com/t.o.d.h' target='_blank')
							|  Instagram  
							i.td-icon.td-shape-arrow  

//- Modal window
#noticeModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
	.modal-dialog.modal-notice
		.modal-content
			.modal-header
				button.close(type='button' data-dismiss='modal' aria-hidden='true')
					i.td-icon.ui-1_simple-remove
				h6#myModalLabel.modal-title TODH
			.modal-body
				.instruction
					.row
						.col-md-11.ml-auto.mr-auto
							h3 Descubrir que lo real
								br
								| tiene un sentido vincular
							p 
								| Los 12 arquetipos universales analógicos
							ul
								li
									strong Verbos: 
									| soy, tengo, pienso, siento, quiero, analizo, equilibro, deseo, comprendo, utilizo, se, creo.
								li
									strong Árbol: 
									| semilla, suelo, comunicación entre ambos, crecimiento, frutos, clasificación frutas, compartir los frutos, aprovechar los frutos podridos.
								li
									strong Empresa: 
									| impulso, emprender, recursos, dinero, aporta algo?, brainstorming, contactos, red, gestión emocional, equipo, marketing, target, como lo presento, currar, optimizar procesos, cooperación, asociaciones que fortalecen el proyecto, gestión de emociones relacionadas con un proyecto, abrir sucursales, abrir fronteras, resultado, empresa madura, visión estratégica, innovación, actualización contínua, avances, nuevos paradigmas, el proyecto de disuelve en lo colectivo, solidaridad...
				
			.modal-footer.justify-content-center
				button.btn.btn-info.btn-round(type='button' data-dismiss='modal') Sounds good!

//- Page Footer
