//- HEADER
header
	//- Page Header
	include partials/components/headers/_header-5
	+header-5(
	"bg15.jpg",
	"Transmite. Observa. Discierne. Haz.",
	"Para percibir en coherencia el proceso de la Creación"
	)

//- CONTENT
//- Atoms
include ../partials/atoms/_atoms

//- Molecules
include ../partials/molecules/_molecules

//- Components
include ../partials/components/_navbars
include ../partials/components/_cards
include ../partials/components/_carousels
include ../partials/components/_features
//- include ../partials/components/_projects
include ../partials/components/_blogs
include ../partials/components/_collapse
//- include ../partials/_comments
//- include ../partials/components/_teams
//- include ../partials/components/_pricing
include ../partials/components/_testimonials
//- include ../partials/components/_contactus
include ../partials/components/_prefooter

//- FOOTER
//- include ../partials/components/_footers
