.features.container
	.row
		.col-md-8.ml-auto.mr-auto.text-center
			h2.title Coming home, a pleasure!
			h4.description
				| El #zodiaco es una matriz primigenia de #arquetipos. Géminis es mucho más antiguo que Caín y Abel. Leo es un arquetipo mucho más abstracto y anterior al arquetipo del Rey.
	.row
		.col-md-4
			.card.card-background.card-raised(data-background-color='' style="background-image: url('assets/img/bg17.jpg')")
				.info
					.icon.icon-white
						i.td-icon.td-rim
					.description
						h4.info-title Collaborate on ideas
						p Lo que nos sucede llega a nuestro rescate.
						a.ml-3(href='#') Find more...
		.col-md-4
			.card.card-background.card-raised(data-background-color='' style="background-image: url('assets/img/bg15.jpg')")
				.info
					.icon.icon-white
						i.td-icon.td-target
					.description
						h4.info-title Actualiza tu potencial.
						p Havenly interior designers are vetted professionals and real people.
						a(href='#') Find more...
		.col-md-4
			.card.card-background.card-raised(data-background-color='' style="background-image: url('assets/img/bg15.jpg')")
				.info
					.icon.icon-white
						i.td-icon.td-enlarge-circle
					.description
						h4.info-title Visualize your room
						p Share a floor plan, and we&apos;ll create a visualization of your room.
						a.ml-3(href='#') Find more...
