.features.container
	.row
		.col-md-10.ml-auto.mr-auto.text-center
			h2.title Percibir conexiones y permitir ser transformado por ellas
			h4.description
				| Insight to help you create, connect, and convert. Understand Your Audience&apos;s Interests, Influence, Interactions, and Intent. Discover emerging topics and influencers to reach new audiences.
	.row
		.col-md-4
			.info.info-hover
				.icon.icon-primary
					i.td-icon.td-loop-30-2
				h4.info-title Social Conversations
				p.description Gain access to the demographics, psychographics, and location of unique people.
		.col-md-4
			.info.info-hover
				.icon.icon-primary
					i.td-icon.td-dots-upload
				h4.info-title Analyze Performance
				p.description
					| Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to gain rich insights.
		.col-md-4
			.info.info-hover
				.icon.icon-primary
					i.td-icon.td-zoom-88
				h4.info-title Measure Conversions
				p.description Track actions taken on your website, understand the impact on your bottom line.
