section.section-va
	.container
		.row
			.col-md-8.ml-auto.mr-auto.text-center
				h1 Síntesis holística creativa
				h4.description
					| El viaje de manifestación de lo que "el uno" ya Es.
		.row
			.col-md-4
				.info.info-hover
					.icon.icon-info
						i.td-icon.spin.td-sensor
					h4.info-title 12 patrones energéticos
					p.description La astrología humanista es usada para desenmascarar la matriz arquetípica original subyacente a todas las relaciones existentes.
			.col-md-4
				.info.info-hover
					.icon.icon-info
						i.td-icon.spin.td-tool-blur
					h4.info-title 4 fases elementales
					p.description El escenario: decir, sentir, pensar y hacer como contexto cuaternario dinámico que hubica el presente. Las cuatro fuerzas de la naturaleza: Agua, fuego, tierra, aire.
			.col-md-4
				.info.info-hover
					.icon.icon-info
						i.td-icon.spin.td-rim
					h4.info-title 8 pulsos de realización
					p.description La trama: El viaje del héroe, del ser ideal y máximo potencial a la cristalización concreta.
