.features.container
	.row
		.col-md-5
			h2.title Working is a pleasure
			.info.info-horizontal
				.icon.icon-warning
					i.td-icon.td-zoom-88
				.description
					h4.info-title Actualiza tu potencial.
					p
						| Una mente mecanicista no puede aportar soluciones creativas sin antes darse cuenta de su propia mecanicidad.
			.info.info-horizontal
				.icon.icon-warning
					i.td-icon.td-sensor
				.description
					h4.info-title Easy to Use
					p
						| Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature.
			.info.info-horizontal
				.icon.icon-warning
					i.td-icon.td-goal-64
				.description
					h4.info-title Fast Prototyping
					p
						| Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature.
		.col-md-7
			.tablet-container
				img(src='assets/img/bg15.jpg')
