.features-7.section-image(style="background-image: url('assets/img/bg15.jpg')")
	.col-md-8.ml-auto.mr-auto.text-center.text-white
		h2.title Working is a pleasure
		h4.description
			| Todo en la vida sigue el mismo proceso. Una persona, un equipo, un producto... todo es una conversación que puede fluir en coherencia con la vida.
	.container
		.row
			.col-md-3
				.card
					.card-image
						img.rounded(src='assets/img/bg17.jpg' alt='')
					.info.text-center
						.icon
							i.td-icon.td-enlarge-circle
						h4.info-title Reply detection
						p.description Todo en la vida sigue el mismo proceso. Una persona, un equipo, un producto... todo es una conversación que puede fluir en coherencia con la vida.
			.col-md-3
				.card
					.card-image
						img.rounded(src='assets/img/bg15.jpg' alt='')
					.info.text-center
						.icon
							i.td-icon.td-sign-24h
						h4.info-title Follow-up
						p.description Just set a number of days that you want send a follow-up. 
			.col-md-3
				.card
					.card-image
						img.rounded(src='assets/img/bg17.jpg' alt='')
					.info.text-center
						.icon
							i.td-icon.td-percentage-39
						h4.info-title Cold email
						p.description Unlimited number of prospects daily with personalized emails.
			.col-md-3
				.card
					.card-image
						img.rounded(src='assets/img/bg17.jpg' alt='')
					.info.text-center
						.icon
							i.td-icon.td-move-05
						h4.info-title Teamwork
						p.description You and your teammates won&rsquo;t address the same person twice. 
