mixin features-8()
	section.features.section-va
		.container-fluid
			.row
				.col-md-3.col-sm-6
					i.td-icon.x4.td-shape-oval
					h3 Observar
				.col-md-3.col-sm-6
					i.td-icon.x4.td-shape-rectangle
					h3 Hacer
				.col-md-3.col-sm-6
					i.td-icon.x4.td-shape-triangle
					h3 Discernir
				.col-md-3.col-sm-6
					i.td-icon.x4.td-shape-polygon
					h3 Transmitir
