.features.container
	.row
		.col-md-8.ml-auto.mr-auto.text-center
			h2.title Working is a pleasure
			h4.description
				| Actualiza tu potencial. Lo que nos sucede llega a nuestro rescate.
	.row
		.col-md-6
			.info.info-horizontal
				.icon.icon-info
					i.td-icon.td-window-dev
				.description
					h4.info-title For Developers
					p
						| The moment you use Now UI Kit, you know you&rsquo;ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before.
			.info.info-horizontal
				.icon.icon-danger
					i.td-icon.td-tree-02
				.description
					h4.info-title For Designers
					p
						| Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.
		.col-md-6
			.info.info-horizontal
				.icon.icon-primary
					i.td-icon.td-centralize
				.description
					h4.info-title Actualiza tu potencial
					p
						| Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.
			.info.info-horizontal
				.icon.icon-success
					i.td-icon.td-tree-02
				.description
					h4.info-title Lo vivo no se puede controlar, y todo está vivo
					p
						| Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.
