section.section-va(data-background-color='gold')
	.container-fluid
		.row
			.col-md-8.mr-auto.ml-auto.mt-4.text-center
				h1.mb-3 Todo aquí ya!
				h4.description.
					Comprendiendo la Creación
		.row
			.col-md-4
				.info
					.icon.icon-white
						i.td-icon.td-curve-circuit-2
					h4.info-title Reconociendo patrones universales
					p.description Un “viaje” circular que consta de 8 pulsos de 4 fases, regidos por 12 arquetipos psíquicos o patrones energéticos.
			.col-md-4
				.info
					.icon.icon-white
						i.td-icon.td-touch-id
					h4.info-title Vincularidad transformadora
					p.description Por medio de lo vincular se actúan y generan climas favorables y desfavorables para ésta actualización.
			.col-md-4
				.info
					.icon.icon-white
						i.td-icon.td-tree
					h4.info-title Actualización del propio potencial
					p.description Lo que “uno” es va alcanzando progresivamente su propio potencial a través de actualización continua.
