footer.footer.footer-big(data-background-color='black')
	.container
		.content
			.row
				.col-md-2
					h5 About Us
					ul.links-vertical
						li
							a.text-muted(href='#todh')
								| Blog
						li
							a.text-muted(href='#todh')
								| About Us
						li
							a.text-muted(href='#todh')
								| Presentation
						li
							a.text-muted(href='#todh')
								| Contact Us
				.col-md-2
					h5 Market
					ul.links-vertical
						li
							a.text-muted(href='#todh')
								| Sales FAQ
						li
							a.text-muted(href='#todh')
								| How to Register
						li
							a.text-muted(href='#todh')
								| Sell Goods
						li
							a.text-muted(href='#todh')
								| Receive Payment
						li
							a.text-muted(href='#todh')
								| Transactions Issues
						li
							a.text-muted(href='#todh')
								| Alcanzar la realidad
				.col-md-4
					h5 Social Feed
					.social-feed
						.feed-line
							i.fa.fa-twitter
							p Actualiza tu potencial
						.feed-line
							i.fa.fa-twitter
							p Siempre hay barro debajo del cielo.
						.feed-line
							i.fa.fa-facebook-square
							p Si hay algo que no se puede controlar es una relación, y todo es relación.
				.col-md-4
					h5 Follow Us
					ul.social-buttons
						li
							a.btn.btn-icon.btn-neutral.btn-twitter.btn-round(href='#todh')
								i.fa.fa-twitter
						li
							a.btn.btn-icon.btn-neutral.btn-facebook.btn-round(href='#todh')
								i.fa.fa-facebook-square
						li
							a.btn.btn-icon.btn-neutral.btn-dribbble.btn-round(href='#todh')
								i.fa.fa-dribbble
						li
							a.btn.btn-icon.btn-neutral.btn-google.btn-round(href='#todh')
								i.fa.fa-google-plus
						li
							a.btn.btn-icon.btn-neutral.btn-instagram.btn-round(href='#todh')
								i.fa.fa-instagram
					h5
						small Numbers Don&apos;t Lie
					h5
						| 14.521 
						small.text-muted Freelancers
					h5
						| 1.423.183 
						small.text-muted Transactions
		hr
		.copyright
			| Copyright &copy;
			script.
				document.write(new Date().getFullYear())
			|  TODH All Rights Reserved.
