footer.footer
	.container
		nav
			ul
				li
					a.nav-link(href='#')
						| TODH
				li
					a.nav-link(href='./index.html')
						| About Us
				li
					a.nav-link(href='./index.html')
						| Blog
				li
					a.nav-link(href='./index.html')
						| License
		.copyright
			| &copy;
			script.
				document.write(new Date().getFullYear())
			| , Designed by 
			a.copyright-link(href='https://www.sergiofores.es' target='_blank') SFR
			| . Coded by 
			a.copyright-link(href='https://www.sergiofores.es' target='_blank') TODH
			| .
