footer.footer.footer-white
	.container
		a.footer-brand(href='https://www.sergiofores.es') Percepción coherente
		ul.pull-center
			li
				a.nav-link(href='#todh')
					| TODH
			li
				a.nav-link(href='#todh')
					| About Us
			li
				a.nav-link(href='#todh')
					| Blog
			li
				a.nav-link(href='#todh')
					| Licenses
		ul.social-buttons.pull-right
			li
				a.btn.btn-icon.btn-neutral.btn-twitter(href='https://twitter.com/t0tinspire' target='_blank')
					i.fa.fa-twitter
			li
				a.btn.btn-icon.btn-neutral.btn-dribbble(href='https://www.facebook.com/sergio.fores' target='_blank')
					i.fa.fa-dribbble
			li
				a.btn.btn-icon.btn-neutral.btn-google(href='https://www.instagram.com/t.o.d.h/' target='_blank')
					i.fa.fa-google-plus
