footer.footer.footer-big.footer-white
		.container
			.content
				.row
					.col-md-4
						h5 About Us
						p
							| Todo es un campo de información desde el que todo surge y al cual todo vuelve.
						p
							| Falla rápido, falla barato y vuelve a por más.
					.col-md-4
						h5 Social Feed
						.social-feed
							.feed-line
								i.fa.fa-twitter
								p Percibir, discernir, manifestar y trascender vínculos.
							.feed-line
								i.fa.fa-twitter
								p From the untangible to the tangible
							.feed-line
								i.fa.fa-facebook-square
								p Todo es un campo de información desde el que todo surge y al cual todo vuelve.
					.col-md-4
						h5 Instagram Feed
						.gallery-feed
							img.img.img-raised.rounded(src='assets/img/avatar.jpg' alt='')
							img.img.img-raised.rounded(src='assets/img/avatar.jpg' alt='')
							img.img.img-raised.rounded(src='assets/img/avatar.jpg' alt='')
							img.img.img-raised.rounded(src='assets/img/avatar.jpg' alt='')
							img.img.img-raised.rounded(src='assets/img/avatar.jpg' alt='')
							img.img.img-raised.rounded(src='assets/img/avatar.jpg' alt='')
							img.img.img-raised.rounded(src='assets/img/avatar.jpg' alt='')
							img.img.img-raised.rounded(src='assets/img/avatar.jpg' alt='')
			hr
			ul.pull-left
				li
					a(href='#')
						| Blog
				li
					a(href='#')
						| Presentation
				li
					a(href='#')
						| Discover
				li
					a(href='#')
						| Payment
				li
					a(href='#')
						| Contact Us
			.copyright.pull-right
				| Copyright &copy;
				script.
					document.write(new Date().getFullYear())
				|  TODH All Rights Reserved.
