footer.footer.footer-white.footer-big
	.container
		.content
			.row
				.col-md-3
					a(href='#todh')
						h5 TODH
					p
						| Percibir, discernir, manifestar y trascender vínculos.
				.col-md-2
					h5 About
					ul.links-vertical
						li
							a(href='#todh')
								| Blog
						li
							a(href='#todh')
								| About Us
						li
							a(href='#todh')
								| Presentation
						li
							a(href='#todh')
								| Contact Us
				.col-md-2
					h5 Market
					ul.links-vertical
						li
							a(href='#todh')
								| Sales FAQ
						li
							a(href='#todh')
								| How to Register
						li
							a(href='#todh')
								| Sell Goods
						li
							a(href='#todh')
								| Receive Payment
						li
							a(href='#todh')
								| Transactions Issues
				.col-md-2
					h5 Legal
					ul.links-vertical
						li
							a(href='#todh')
								| Transactions FAQ
						li
							a(href='#todh')
								| Terms &amp; Conditions
						li
							a(href='#todh')
								| Licenses
				.col-md-3
					h5 Subscribe to Newsletter
					p
						| Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
					form.form.form-newsletter(method='' action='')
						.form-group
							input.form-control(type='email' placeholder='Your Email...')
						button.btn.btn-primary.btn-icon.btn-round(type='button' name='button')
							i.td-icon.td-loop
		hr
		ul.social-buttons
			li
				a.btn.btn-icon.btn-neutral.btn-twitter.btn-lg(href='#todh')
					i.fa.fa-twitter
			li
				a.btn.btn-icon.btn-neutral.btn-facebook.btn-lg(href='#todh')
					i.fa.fa-facebook-square
			li
				a.btn.btn-icon.btn-neutral.btn-dribbble.btn-lg(href='#todh')
					i.fa.fa-dribbble
			li
				a.btn.btn-icon.btn-neutral.btn-google.btn-lg(href='#todh')
					i.fa.fa-google-plus
			li
				a.btn.btn-icon.btn-neutral.btn-youtube.btn-lg(href='#todh')
					i.fa.fa-youtube-play
		.copyright.pull-center
			| Copyright &copy;
			script.
				document.write(new Date().getFullYear())
			|  TODH All Rights Reserved.
