footer.footer(data-background-color='black')
	.d-flex.justify-content-around.align-items-center
		a.footer-brand(href='#')
			| TODH
		ul.pull-center
			li
				a(href='#')
					| Blog
			li
				a(href='#')
					| Payment
			li
				a(href='#')
					| Contact Us
		ul.social-buttons.pull-right
			li
				a.btn.btn-icon.btn-link.btn-neutral(href='https://twitter.com/t0tinspire' target='_blank')
					i.fa.fa-twitter
			li
				a.btn.btn-icon.btn-neutral.btn-link(href='https://www.facebook.com/sergio.fores' target='_blank')
					i.fa.fa-facebook-square
			li
				a.btn.btn-icon.btn-neutral.btn-link(href='https://www.instagram.com/t.o.d.h/' target='_blank')
					i.fa.fa-instagram
