section.section-va
	.container
		h1.title Molecules
		.row
			.col-md-12
				include _notifications
			//- .col-md-12
			//- 	include _pagination
			//- .col-md-12
				//- include _video
			//- .col-md-12
			//- 	include _tables
			.col-md-12
				include _pills
			.col-md-12
				include _tabs
			//- .col-md-12
				//- include _file-uploader
