section.section-va
	.container
		h3.title Notifications
		#notifications
			.alert.alert-success(role='alert')
				.container
					.alert-icon
						i.td-icon.td-energy
					strong Well done!
					|  You successfully read this important alert message.
					button.close(type='button' data-dismiss='alert' aria-label='Close')
						span(aria-hidden='true')
							i.td-icon.td-simple-remove
			.alert.alert-info(role='alert')
				.container
					.alert-icon
						i.td-icon.td-energy
					strong Heads up!
					|  This alert needs your attention, but it&apos;s not super important.
					button.close(type='button' data-dismiss='alert' aria-label='Close')
						span(aria-hidden='true')
							i.td-icon.td-simple-remove
			.alert.alert-warning(role='alert')
				.container
					.alert-icon
						i.td-icon.td-energy
					strong Warning!
					|  Better check yourself, you&apos;re not looking too good.
					button.close(type='button' data-dismiss='alert' aria-label='Close')
						span(aria-hidden='true')
							i.td-icon.td-simple-remove
			.alert.alert-danger(role='alert')
				.container
					.alert-icon
						i.td-icon.td-energy
					strong Oh snap!
					|  Change a few things up and try submitting again.
					button.close(type='button' data-dismiss='alert' aria-label='Close')
						span(aria-hidden='true')
							i.td-icon.td-simple-remove
