.col-md-6
	p.category Horizontal tabs
	ul.nav.nav-pills.nav-pills-primary(role='tablist')
		li.nav-item
			a.nav-link.active(data-toggle='tab' href='#link1' role='tablist')
				| Profile
		li.nav-item
			a.nav-link(data-toggle='tab' href='#link2' role='tablist')
				| Settings
		li.nav-item
			a.nav-link(data-toggle='tab' href='#link3' role='tablist')
				| Options
	.tab-content.tab-space
		#link1.tab-pane.active
			| Turning your ideas into tangible prototypes.
			br
			br
			|  Dramatically visualize customer directed convergence without revolutionary ROI.
		#link2.tab-pane
			| Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
			br
			br
			| Dramatically maintain clicks-and-mortar solutions without functional solutions.
		#link3.tab-pane
			| Percibir, discernir, manifestar y trascender vínculos
.col-md-6
	p.category Vertical tabs
	.row
		.col-md-4
			ul.nav.nav-pills.nav-pills-primary.flex-column(role='tablist')
				li.nav-item
					a.nav-link.active(data-toggle='tab' href='#link4' role='tablist')
						| Sentir
				li.nav-item
					a.nav-link(data-toggle='tab' href='#link5' role='tablist')
						| Pensar
				li.nav-item
					a.nav-link(data-toggle='tab' href='#link6' role='tablist')
						| Hacer
				li.nav-item
					a.nav-link(data-toggle='tab' href='#link6b' role='tablist')
						| Decir
		.col-md-8
			.tab-content
				#link4.tab-pane.active
					| Intuición, inspiración, inhalación, apertura, corazón, pulso, traer, penetrar, darse cuenta, canal, agua, primavera, percepción, acceder, escucha, observar, posibilidades, opciones, descubrir, recibir, captar, Neptuno, Venus, Luna, Quijote, emoción, excitación, plenitud, atracción, la llamada (al viaje), estímulo, implicación, activar, invitar, insight, sintonizar, evocar, atención, importar, espacio, emanación...
					br
					br
					|  ... y así hasta el infinito
				#link5.tab-pane
					| Cabeza, discernimiento, fuego, otoño, foco, elección, orden, límites, distracción, idea, intención, registrar, filtro, criterio, estructura, lenguaje, Mercurio, Saturno, tecnología, problemas, plan, molde, norte, mecanismo, acción de mapear, articular, narrar, acotar, juicio, identificar, comprensión, código, síntesis, descifrar...
					br
					br
					| etc.
				#link6.tab-pane
					| Mano, acción, impulso, tierra, verano, manifestar, materia, marte, saturno, experiencia, acontecimiento, forma, tocar, tracción, prueba, vivencia, registro, consumo de energía, cristalizar, nacer, hechos, aplicar, validar, aparecer, solidez, crecimiento, objeto, ocurrir, transformación, verdad, vivencia, acontecer, nacer...
				#link6b.tab-pane
					| Exhalar, pronunciar, trascender, soltar, alcanzar, voz, aire, invierno, transmisión, encuentro, desplegar, entregar, comunicar, el otro, aportar, sembrar, devolver, continuidad...
