.col-md-6
	.row
		.col-md-3
			ul.nav.nav-pills.nav-pills-info.nav-pills-just-icons.flex-column(role='tablist')
				li.nav-item
					a.nav-link.active(data-toggle='tab' href='#link20' role='tablist')
						i.td-icon.td-tool-blur
				li.nav-item
					a.nav-link(data-toggle='tab' href='#link21' role='tablist')
						i.td-icon.td-tool-blur
		.col-md-8
			.tab-content
				#link20.tab-pane.active
					| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
					br
					br
					|  No reinventes la rueda!.
				#link21.tab-pane
					| Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
					br
					br
					| Dramatically maintain clicks-and-mortar solutions without functional solutions.
.col-md-6
	ul.nav.nav-pills.nav-pills-info.nav-pills-just-icons(role='tablist')
		li.nav-item
			a.nav-link.active(data-toggle='tab' href='#link22' role='tablist')
				i.td-icon.td-circuit-round
		li.nav-item
			a.nav-link(data-toggle='tab' href='#link23' role='tablist')
				i.td-icon.td-circuit-round
		li.nav-item
			a.nav-link(data-toggle='tab' href='#link24' role='tablist')
				i.td-icon.td-circuit-round
	.tab-content.tab-space
		#link22.tab-pane.active
			| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
			br
			|  Turning your ideas into tangible prototypes
		#link23.tab-pane
			| Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
			br
			| Turning your ideas into tangible prototypes
		#link24.tab-pane
			| Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
			br
			| No reinventes la rueda!
