.col-md-6
	//
		color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
	ul.nav.nav-pills.nav-pills-warning.nav-pills-icons(role='tablist')
		li.nav-item
			a.nav-link.active(data-toggle='tab' href='#link7' role='tablist')
				i.td-icons.objects_umbrella-13
				|  Lifelike
		li.nav-item
			a.nav-link(data-toggle='tab' href='#link8' role='tablist')
				i.td-icons.shopping_shop
				|  Messages
		li.nav-item
			a.nav-link(data-toggle='tab' href='#link9' role='tablist')
				i.td-icons.ui-2_settings-90
				|  Settings
	.tab-content.tab-space
		#link7.tab-pane.active
			ul 
				li Living Design System & Holistic Workflow.
				li Based on systemic functional paradigm.

		#link8.tab-pane
			| Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
			br
			br
			| Dramatically maintain clicks-and-mortar solutions without functional solutions.
		#link9.tab-pane
			| Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
			br
			br
			| Dynamically innovate resource-leveling customer service for state of the art customer service.
.col-md-6
	.row
		.col-lg-3.col-md-6
			//- color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
			ul.nav.nav-pills.nav-pills-primary.nav-pills-icons.flex-column(role='tablist')
				li.nav-item
					a.nav-link.active(data-toggle='tab' href='#link10' role='tablist')
						i.td-icons.td-sensor
						|  Home
				li.nav-item
					a.nav-link(data-toggle='tab' href='#link11' role='tablist')
						i.td-icons.td-sensor
						|  Settings
		.col-md-8
			.tab-content
				#link10.tab-pane.active
					| Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
					br
					br
					|  Dramatically visualize customer directed convergence without revolutionary ROI.
				#link11.tab-pane
					| Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
					br
					br
					| Turning your ideas into tangible prototypes
