.col-md-10.ml-auto.col-xl-6.mr-auto
	.card
		.card-header
			ul.nav.nav-tabs.nav-tabs-neutral.justify-content-center(role='tablist' data-background-color='gold')
				li.nav-item
					a.nav-link.active(data-toggle='tab' href='#home1' role='tab') Home
				li.nav-item
					a.nav-link(data-toggle='tab' href='#profile1' role='tab') Profile
				li.nav-item
					a.nav-link(data-toggle='tab' href='#messages1' role='tab') Messages
				li.nav-item
					a.nav-link(data-toggle='tab' href='#settings1' role='tab') Settings
		.card-body
			.tab-content.text-center
				#home1.tab-pane.active(role='tabpanel')
					p
						| &quot;La vida es una manifestación en forma de fractal, donde cada parte es a su vez el todo.&quot;
				#profile1.tab-pane(role='tabpanel')
					p
						| &quot;Un camino de transformación.&quot;
				#messages1.tab-pane(role='tabpanel')
					p
						| &quot;Aquello que más tarde la percepción habitual captará disociadamente, como elementos separados de la realidad, surge de una matriz común —el sistema solar— que se reproduce en todos los niveles y formas de nuestra realidad cotidiana.&quot;
				#settings1.tab-pane(role='tabpanel')
					p
						| &quot;Aquello que más tarde la percepción habitual captará disociadamente, como elementos separados de la realidad, surge de una matriz común —el sistema solar— que se reproduce en todos los niveles y formas de nuestra realidad cotidiana.&quot;
