section
	.container
		.title
			h3 Tables
		.row
			.col-md-12

				h6 Simple With Actions
				include _table-1
				
				h6 Striped With Checkboxes
				include _table-2
				
				h6 Shopping Cart Table
				include _table-3
