.col-md-10.ml-auto.col-xl-6.mr-auto
	.card
		.card-header
			ul.nav.nav-tabs.justify-content-center(role='tablist')
				li.nav-item
					a.nav-link.active(data-toggle='tab' href='#home' role='tab')
						i.td-icon.td-target-2
						|  Home
				li.nav-item
					a.nav-link(data-toggle='tab' href='#profile' role='tab')
						i.td-icon.td-target-2
						|  Profile
				li.nav-item
					a.nav-link(data-toggle='tab' href='#messages' role='tab')
						i.td-icon.td-target-2
						|  Claves
				li.nav-item
					a.nav-link(data-toggle='tab' href='#settings' role='tab')
						i.td-icon.td-target-2
						|  Proceso
		.card-body
			.tab-content.text-center
				#home.tab-pane.active(role='tabpanel')
					p
						| I think that&rsquo;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it&rsquo;s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.
				#profile.tab-pane(role='tabpanel')
					p
						| Un mirar que descubre continuamente nuevas #conexiones entre los elementos del espacio que explora.
				#messages.tab-pane(role='tabpanel')
					p
						| I think that&rsquo;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it&rsquo;s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.
				#settings.tab-pane(role='tabpanel')
					p
						| &quot;I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that&rsquo;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.&quot;
