.card.card-plain
	.card-body
		.table-responsive
			table.table.table-striped
				thead
					th.text-center
						| #
					th.text-center
					th
						| Product Name
					th
						| Type
					th.text-center
						| Qty
					th.text-right
						| Price
					th.text-right
						| Amount
				tbody
					tr
						td.text-center
							| 1
						td.text-center
							.form-check
								label.form-check-label
									input.form-check-input(type='checkbox' checked='')
									span.form-check-sign
						td
							| Moleskine Agenda
						td
							| Office
						td.text-center
							| 25
						td.text-right
							| &euro; 49
						td.text-right
							| &euro; 1,225
					tr
						td.text-center
							| 2
						td.text-center
							.form-check
								label.form-check-label
									input.form-check-input(type='checkbox')
									span.form-check-sign
						td
							| Stabilo Pen
						td
							| Office
						td.text-center
							| 30
						td.text-right
							| &euro; 10
						td.text-right
							| &euro; 300
					tr
						td.text-center
							| 3
						td.text-center
							.form-check
								label.form-check-label
									input.form-check-input(type='checkbox' checked='')
									span.form-check-sign
						td
							| A4 Paper Pack
						td
							| Office
						td.text-center
							| 50
						td.text-right
							| &euro; 10.99
						td.text-right
							| &euro; 109
					tr
						td.text-center
							| 4
						td.text-center
							.form-check
								label.form-check-label
									input.form-check-input(type='checkbox')
									span.form-check-sign
						td
							| Apple iPad
						td
							| Meeting
						td.text-center
							| 10
						td.text-right
							| &euro; 499.00
						td.text-right
							| &euro; 4,990
					tr
						td.text-center
							| 5
						td.text-center
							.form-check
								label.form-check-label
									input.form-check-input(type='checkbox' checked='')
									span.form-check-sign
						td
							| Apple iPhone
						td
							| Communication
						td.text-center
							| 10
						td.text-right
							| &euro; 599.00
						td.text-right
							| &euro; 5,999
					tr
						td(colspan='5')
						td.td-total Total
						td.td-price &euro; 35,999
