.card.card-plain
	.card-body
		.table-responsive
			table.table.table-shopping
				thead
					th.text-center
					th
						| Product
					th
						| Color
					th
						| Size
					th.text-right
						| Price
					th.text-right
						| Qty
					th.text-right
						| Amount
				tbody
					tr
						td
							.img-container
								img(src='./assets/img/bg15.jpg' alt='...')
						td.td-name
							a(href='#jacket') Actualiza tu potencial
							br
							small by Saint Laurent
						td
							| Black
						td
							| M
						td.td-number
							small &euro;
							| 3,390
						td.td-number
							| 1
							.btn-group
								button.btn.btn-info.btn-sm
									i.td-icon.td-simple-remove
								button.btn.btn-info.btn-sm
									i.td-icon.td-simple-remove
						td.td-number
							small &euro;
							| 549
						td.td-actions
							button.btn.btn-neutral(type='button' rel='tooltip' data-placement='left' title='Remove item')
								i.td-icon.td-simple-remove
					tr
						td
							.img-container
								img(src='./assets/img/bg15.jpg' alt='...')
						td.td-name
							a(href='#pants') Jersey T-Shirt
							br
							small by Balmain
						td
							| Black
						td
							| M
						td.td-number
							small &euro;
							| 499
						td.td-number
							| 2
							.btn-group
								button.btn.btn-info.btn-sm
									i.td-icon.td-simple-remove
								button.btn.btn-info.btn-sm
									i.td-icon.td-simple-remove
						td.td-number
							small &euro;
							| 998
						td.td-actions
							button.btn.btn-neutral(type='button' rel='tooltip' data-placement='left' title='Remove item')
								i.td-icon.td-simple-remove
					tr
						td
							.img-container
								img(src='./assets/img/bg15.jpg' alt='...')
						td.td-name
							a(href='#nothing') Slim-Fit Swim Short
							br
							small by Prada
						td
							| Red
						td
							| M
						td.td-number
							small &euro;
							| 200
						td.td-number
							| 1
							.btn-group
								button.btn.btn-info.btn-sm
									i.td-icon.td-simple-remove
								button.btn.btn-info.btn-sm
									i.td-icon.td-simple-remove
						td.td-number
							small &euro;
							| 799
						td.td-actions
							button.btn.btn-neutral(type='button' rel='tooltip' data-placement='left' title='Remove item')
								i.td-icon.td-simple-remove
					tr
						td(colspan='3')
						td.td-total
							| Total
						td.td-price
							small &euro;
							| 2,346
						td.text-right(colspan='3')
							button.btn.btn-info.btn-round(type='button' rel='tooltip')
								| Complete Purchase
								i.td-icon.td-simple-remove
