.card.card-plain
	.card-body
		.table-responsive
			table.table
				thead
					th.text-center
						| #
					th
						| Name
					th
						| Job Position
					th.text-center
						| Since
					th.text-right
						| Salary
					th.text-right
						| Actions
				tbody
					tr
						td.text-center
							| 1
						td
							| Andrew Mike
						td
							| Develop
						td.text-center
							| 2013
						td.text-right
							| &euro; 99,225
						td.text-right
							button.btn.btn-info.btn-icon.btn-sm(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-success.btn-icon.btn-sm(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-danger.btn-icon.btn-sm(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
					tr
						td.text-center
							| 2
						td
							| John Doe
						td
							| Design
						td.text-center
							| 2012
						td.text-right
							| &euro; 89,241
						td.text-right
							button.btn.btn-info.btn-icon.btn-sm(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-success.btn-icon.btn-sm(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-danger.btn-icon.btn-sm(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
					tr
						td.text-center
							| 3
						td
							| Sergio Forés
						td
							| Design
						td.text-center
							| 2010
						td.text-right
							| &euro; 92,144
						td.text-right
							button.btn.btn-info.btn-icon.btn-sm.btn-neutral(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-success.btn-icon.btn-sm.btn-neutral(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-danger.btn-icon.btn-sm.btn-neutral(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
					tr
						td.text-center
							| 4
						td
							| Mike Monday
						td
							| Marketing
						td.text-center
							| 2013
						td.text-right
							| &euro; 49,990
						td.text-right
							button.btn.btn-info.btn-icon.btn-sm.btn-neutral(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-success.btn-icon.btn-sm.btn-neutral(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-danger.btn-icon.btn-sm.btn-neutral(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
					tr
						td.text-center
							| 5
						td
							| Paul Dickens
						td
							| Communication
						td.text-center
							| 2015
						td.text-right
							| &euro; 69,201
						td.text-right
							button.btn.btn-info.btn-icon.btn-sm.btn-round(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-success.btn-icon.btn-sm.btn-round(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-danger.btn-icon.btn-sm.btn-round(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
					tr
						td.text-center
							| 6
						td
							| Manuel Rico
						td
							| Manager
						td.text-center
							| 2012
						td.text-right
							| &euro; 99,201
						td.text-right
							button.btn.btn-info.btn-icon.btn-sm.btn-round(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-success.btn-icon.btn-sm.btn-round(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
							button.btn.btn-danger.btn-icon.btn-sm.btn-round(type='button' rel='tooltip')
								i.td-icon.td-simple-remove
