.video-background
	.video-foreground
		iframe(src='https://www.youtube.com/embed/O9hMUtGsrRs?rel=0&amp;controls=0&amp;showinfo=0' frameborder='0' allowfullscreen='')
#vidtop-content
	.vid-info
		p XX
