$td-font-path:        "../fonts" !default;
$td-font-size-base:   14px !default;
$td-css-prefix:       td-icon !default;
$td-background-color: #eee !default;
$td-li-width:         (30em / 14) !default;
$td-padding-width:    (1em/3) !default;
