.prefooter.text-center(data-background-color='gold')
	.container
		.row.justify-content-center
			.col-md-12
				h4.title Thank you for your support!
			a.btn.btn-twitter.btn-round(href='#pablo')
				i.fa.fa-twitter
				|  Twitter &middot; 2.5k
			a.btn.btn-facebook.btn-round(href='#pablo')
				i.fa.fa-facebook-square
				|  Facebook &middot; 3.2k
			a.btn.btn-google.btn-round(href='#pablo')
				i.fa.fa-google-plus
				|  Google &middot; 1.2k
			a.btn.btn-dribbble.btn-round(href='#pablo')
				i.fa.fa-dribbble
				|  Dribbble &middot; 1.8k
