section.subscribe-line.subscribe-line-image(style="background-image: url('assets/img/bg2.jpg');")
	.container
		.row
			.col-md-9.ml-auto.mr-auto
				.text-center.text-white
					h4.title Subscribe to our Newsletter
					p.description
						| Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
				.card.card-raised.card-form-horizontal
					.card-body
						form(method='' action='')
							.row
								.col-sm-7
									.input-group
										.input-group-prepend
											span.input-group-text
												i.td-icon.td-check-2
										input.form-control(type='email' placeholder='Your Email...')
								.col-sm-4
									button.btn.btn-primary.btn-round.btn-block(type='button') Subscribe
