.testimonials-3
	.container
		.row
			.col-md-6.ml-auto.mr-auto.text-center
				h2.title What Clients Say
		.row
			.col-md-4
				.card.card-testimonial.card-plain
					.card-avatar
						a(href='#')
							img.img.img-raised.rounded(src='assets/img/sergio.jpg')
					.card-body
						h3.card-title Andrew John
						h6.category.text-primary Loan Counselor
						p.card-description
							| &quot;Un mirar que descubre continuamente nuevas #conexiones entre los elementos del espacio que explora.&quot;
			.col-md-4
				.card.card-testimonial.card-plain
					.card-avatar
						a(href='#')
							img.img.img-raised.rounded(src='assets/img/avatar.jpg')
					.card-body
						h4.card-title Sergio Forés
						h6.category.text-primary Interpreter OR Translator
						p.card-description
							| &quot;Don&apos;t walk behind me; I may not lead. Don&apos;t walk in front of me; I may not follow. Just walk beside me and be my friend.&quot;
			.col-md-4
				.card.card-testimonial.card-plain
					.card-avatar
						a(href='#')
							img.img.img-raised.rounded(src='assets/img/avatar.jpg')
					.card-body
						h4.card-title Eugenio Carutti
						h6.category.text-primary HR Specialist
						p.card-description
							| &quot;Un mirar que descubre continuamente nuevas #conexiones entre los elementos del espacio que explora.&quot;
