section.section-va.container
	.row
		.col-md-8.mx-auto
			#carouselExampleIndicators2.carousel.slide
				//- ol.carousel-indicators
				//- 	li.active(data-target='#carouselExampleIndicators2' data-slide-to='0')
				//- 	li(data-target='#carouselExampleIndicators2' data-slide-to='1')
				.carousel-inner(role='listbox')
					.carousel-item.active.justify-content-center
						.card.card-testimonial.card-plain
							.card-avatar
								a(href='#')
									img.img.rounded(src='assets/img/avatar.jpg')
							.card-body
								p.card-description
									| &quot;Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone. This is the way to success. A single rose can be my garden... a single friend, my world.&quot;
								h3.card-title.
									Isaac Hunter
								.card-footer.mb-0
									h6.category.text-info Human Resource Director
					.carousel-item.justify-content-center
						.card.card-testimonial.card-plain
							.card-avatar
								a(href='#')
									img.img.rounded(src='assets/img/avatar.jpg')
							.card-body
								p.card-description.
									&quot;When we are no longer able to change a situation - we are challenged to change ourselves. Spread love everywhere you go. Let no one ever come to you without leaving happier. Problems are not stop signs, they are guidelines.&quot;
								h3.card-title.
									Alexa Hailey
								.card-footer.mb-0
									h6.category.text-info Human Resource Director

				a.carousel-control-prev(href='#carouselExampleIndicators2' role='button' data-slide='prev')
					i.td-icon.td-stre-left
				a.carousel-control-next(href='#carouselExampleIndicators2' role='button' data-slide='next')
					i.td-icon.td-stre-right
