.testimonials-1.section-image(style="background-image: url('assets/img/bg2.jpg')")
	.container
		.row
			.col-md-6.ml-auto.mr-auto.text-center.text-white
				h2.title.
					La realidad son sistemas
				h4.description.
					If you&rsquo;re selected for ALPHA you&rsquo;ll also get 3 tickets, opportunity to access Investor Office Hours and Mentor Hours and much more all for &euro;850.
		.row
			.col-md-4
				.card.card-testimonial
					.card-avatar
						a(href='#')
							img.img.img-raised(src='assets/img/sergio.jpg')
					.card-body
						p.card-description
							| The networking at Web Summit is like no other European tech conference.
					.icon.icon-primary
						i.td-icon.td-stre-right
					.card-footer
						h4.card-title Michael Elijah
						p.category @t0tinspire
			.col-md-4
				.card.card-testimonial
					.card-avatar
						a(href='#')
							img.img.img-raised(src='assets/img/avatar.jpg')
					.card-body
						p.card-description
							| Un mirar que descubre continuamente nuevas #conexiones entre los elementos del espacio que explora.
					.icon.icon-primary
						i.td-icon.td-stre-left
					.card-footer
						h4.card-title Olivia Harper
						p.category @t0tinspire
			.col-md-4
				.card.card-testimonial
					.card-avatar
						a(href='#')
							img.img.img-raised(src='assets/img/avatar.jpg')
					.card-body
						p.card-description
							| Percibir constantemente lo que está sucediendo.
					.icon.icon-primary
						i.td-icon.td-stre-right
					.card-footer
						h4.card-title James Logan
						p.category @t0tinspire
