.container-fluid.page-header-gradient
	.row
		.col-md-8.text-center.d-flex.flex-wrap.justify-content-center.align-content-center.mx-auto(style="height:100vh;")
			h1.mb-0
				b Lifelike! 
				| Living Design System 
				br
				| & Holistic Workflow
			p
				|  Let your website reach its potential in the now 
				i.td-icon.spin.td-reload 

			.col-md-10.ml-auto.mr-auto
				nav.d-flex.justify-content-around.ml-auto.mr-auto
					a.btn.btn-primary.btn-round(href="https://github.com/t0t/t-o-d-h.com/tree/gh-pages" target="_blank")
						i.td-icon.td-curve-directions
						|  Source Code  
