nav.navbar.navbar-expand-lg.bg-white.fixed-top.navbar-transparent(color-on-scroll="100")
	.container
		a.navbar-brand(href='./index.html')
			i.td-icon.x3.td-logotodh-2 
			h1  TODH
		//- .navbar-translate
		//- 	button.navbar-toggler(type='button' data-toggle='collapse' data-target='#example-navbar-primary' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
		//- 		span.navbar-toggler-bar.bar1
		//- 		span.navbar-toggler-bar.bar2
		//- 		span.navbar-toggler-bar.bar3
		//- 	a.navbar-brand(href='./index.html')
		//- 		i.td-icon.x3.td-logotodh-2
		//- 		h1 TODH
		//- #navbar-primary.collapse.navbar-collapse
		//- 	ul.navbar-nav(role='menu')
		//- 		//- li.nav-item.dropdown
		//- 		//- 	a#navbarDropdownMenuLink.dropdown-toggle.nav-link(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
		//- 		//- 		| TODH
		//- 		//- 		.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
		//- 		//- 			a.dropdown-item(href='./doce-arquetipos.html') Los 12 arquetipos universales
		//- 		//- 			a.dropdown-item(href='#') Intro
		//- 		//- 			a.dropdown-item(href='#') Estructura
		//- 		li.nav-item.dropdown
		//- 			a#navbarDropdownMenuLink.nav-link(href='./lifelike.html')
		//- 				i.td-icon.td-currency-exchange(aria-hidden='true')
		//- 				| Lifelike
		//- 		li.nav-item.dropdown
		//- 			a#navbarDropdownMenuLink.nav-link(href='./blog.html')
		//- 				| Blog
