.site__header
	.brand
		a(href="#home")
			svg(width='74', height='40', viewbox='0 0 74 40', xmlns='http://www.w3.org/2000/svg')
				title Logo
				g#Home(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
					g(transform='translate(-10 -5)', id='Brand/Logo', stroke='#111111')
						path#decir(d='M47 25c0-10.493-8.059-19-18-19s-18 8.507-18 19h36z', stroke-width='1', stroke-linecap='square')
						path#pensar(d='M83 25c0 10.493-8.059 19-18 19s-18-8.507-18-19h36z', stroke-width='1', fill='#111111', fill-rule='evenodd')
						path#hacer(d='M47 25.5h36', stroke-width='3', stroke-linejoin='bevel')
	.site__menu
		ul
			li
				a.nav-link(href="./#sentir") Sentir
			li
				a.nav-link(href="./#pensar") Orden
			li
				a.nav-link(href="./#hacer") Forma
			li
				a.nav-link(href="./#decir") Conexión
