.navigation-example(style="background-image:url('assets/img/bg17.jpg')")
	
	nav.navbar.navbar-expand-lg.bg-primary
		.container
			.navbar-translate
				a.navbar-brand(href='#pablo') Primary color
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#example-navbar-primary' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-bar.bar1
					span.navbar-toggler-bar.bar2
					span.navbar-toggler-bar.bar3
			//- #example-navbar-primary.collapse.navbar-collapse
			//- 	ul.navbar-nav.ml-auto
			//- 		li.nav-item.active
			//- 			a.nav-link(href='#pablo')
			//- 				i.now-ui-icons.objects_globe
			//- 				p Discover
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.now-ui-icons.users_circle-08
			//- 				p Profile
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.now-ui-icons.ui-1_settings-gear-63
			//- 				p Settings


	nav.navbar.navbar-expand-lg.bg-info
		.container
			.navbar-translate
				a.navbar-brand(href='#pablo') Info Color
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#example-navbar-info' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-bar.bar1
					span.navbar-toggler-bar.bar2
					span.navbar-toggler-bar.bar3
			//- #example-navbar-info.collapse.navbar-collapse
			//- 	ul.navbar-nav.ml-auto
			//- 		li.nav-item.active
			//- 			a.nav-link(href='#pablo')
			//- 				p Discover
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				p Profile
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				p Settings


	nav.navbar.navbar-expand-lg.bg-success
		.container
			.navbar-translate
				a.navbar-brand(href='#') Success Color
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#example-navbar-success' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-bar.bar1
					span.navbar-toggler-bar.bar2
					span.navbar-toggler-bar.bar3
			//- #example-navbar-success.collapse.navbar-collapse
			//- 	ul.navbar-nav.ml-auto
			//- 		li.nav-item.active
			//- 			a.nav-link(href='#pablo')
			//- 				i.td-icon.td-tool-blur
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.td-icon.td-tool-blur
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.td-icon.td-tool-blur


	nav.navbar.navbar-expand-lg.bg-warning
		.container
			.navbar-translate
				a.navbar-brand(href='#pablo') Warning Color
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#example-navbar-warning' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-bar.bar1
					span.navbar-toggler-bar.bar2
					span.navbar-toggler-bar.bar3
			//- #example-navbar-warning.collapse.navbar-collapse
			//- 	ul.navbar-nav.ml-auto
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.fa.fa-facebook-square
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.fa.fa-twitter
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.fa.fa-google-plus
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.fa.fa-instagram


	nav.navbar.navbar-expand-lg.bg-danger
		.container
			.navbar-translate
				a.navbar-brand(href='#pablo') Danger Color
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#example-navbar-danger' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-bar.bar1
					span.navbar-toggler-bar.bar2
					span.navbar-toggler-bar.bar3
			//- #example-navbar-danger.collapse.navbar-collapse
			//- 	ul.navbar-nav.ml-auto
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.fa.fa-facebook-square
			//- 				p Share
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.fa.fa-twitter
			//- 				p Tweet
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.fa.fa-pinterest
			//- 				p Pin

	nav.navbar.navbar-expand-lg.navbar-transparent
		.container
			.navbar-translate
				a.navbar-brand(href='#pablo') Transparent
				button.navbar-toggler(type='button' data-toggle='collapse' data-target='#example-navbar-transparent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
					span.navbar-toggler-bar.bar1
					span.navbar-toggler-bar.bar2
					span.navbar-toggler-bar.bar3
			//- #example-navbar-transparent.collapse.navbar-collapse
			//- 	ul.navbar-nav.ml-auto
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.fa.fa-facebook-square
			//- 				p Facebookxx
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.fa.fa-twitter
			//- 				p Twitter
			//- 		li.nav-item
			//- 			a.nav-link(href='#pablo')
			//- 				i.fa.fa-instagram
			//- 				p Instagram
