.col-md-6.col-lg-4
	.card(data-background-color='red')
		.card-body
			h6.category-social
				i.fa.fa-fire
				|  Rapid Prototyping
			p.card-description
				| &quot;Procesos, personas, sistemas... cualquier unidad evoluciona según el modo en que se vinculan sus partes.&quot;
			.card-footer
				.author
					img.avatar(src='assets/img/avatar.jpg' alt='...')
					span Sergio Forés
				.stats.stats-right
					i.td-icon.td-energy
					|  10.4K &middot;
					i.td-icon.td-recycling
					|  425
.col-md-6.col-lg-4
	.card.card-blog
		.card-image
			img.img.rounded(src='assets/img/bg15.jpg')
		.card-body
			h6.category.text-warning
				i.td-icon.td-gift
				|  Focus
			h5.card-title
				a(href='#nuk') Stay Focused: Train Your Brain
			p.card-description
				| We don't reinvent the wheels, we make them better.
.col-md-6.col-lg-4
	.card
		.card-body
			h6.category.text-danger
				i.td-icon.td-sensor
				|  Trending
			h5.card-title
				a(href='#') Subversiva honestidad
			p.card-description
				| An immersive production studio focused on virtual reality content, has closed a $10 million Series A round led by Discovery Communications
			.card-footer
				.author
					img.avatar(src='assets/img/avatar.jpg' alt='...')
					span Lord Alex
				.stats.stats-right
					i.td-icon.td-energy
					|  342 &middot;
					i.td-icon.td-energy
					|  45
