.col-md-6.col-lg-4
	.card.card-blog.card-plain
		.card-image
			img.img.rounded(src='assets/img/bg15.jpg')
		.card-body
			h6.category.text-warning
				i.now-ui-icons.business_bulb-63
				|  Focus
			h5.card-title
				a(href='#nuk') Stay Focused: Train Your Brain
			p.card-description
				| Todo en la vida sigue el mismo proceso. Una persona, un equipo, un producto... todo es una conversación que puede fluir en coherencia con la vida.
.col-md-6.col-lg-4
	.card.card-blog.card-plain
		.card-image
			a(href='#pablo')
				img.img.rounded(src='assets/img/bg15.jpg')
		.card-body
			h6.category.text-primary Features
			h5.card-title
				a(href='#nuk') El viaje de la aspiración a la respiración
			p.card-description
				| Todo en la vida sigue el mismo proceso. Una persona, un equipo, un producto... todo es una conversación que puede fluir en coherencia con la vida.
			.card-footer
				.author
					img.avatar(src='assets/img/avatar.jpg' alt='...')
					span Sergio Forés
				.stats.stats-right
					i.now-ui-icons.tech_watch-time
					|  5 min read
.col-md-6.col-lg-4
	.card.card-blog.card-plain
		.card-image
			a(href='#pablo')
				img.img.rounded(src='assets/img/bg15.jpg')
		.card-body.text-center
			h6.category.text-danger
				i.now-ui-icons.media-2_sound-wave
				|  Business
			h5.card-title
				a(href='#nuk') El viaje de la aspiración a la respiración
			p.card-description
				| Todo en la vida sigue el mismo proceso. Una persona, un equipo, un producto... todo es una conversación que puede fluir en coherencia con la vida.
			.card-footer
				a.btn.btn-primary(href='#nuk') Read Article
