.col-md-6.offset-md-2.col-lg-4.offset-lg-0
	.card.card-blog
		.card-image
			a(href='#')
				img.img.rounded(src='assets/img/bg15.jpg')
		.card-body.text-center
			h6.category.text-danger
				i.now-ui-icons.media-2_sound-wave
				|  Actualización del potencial
			h5.card-title
				| El viaje de la aspiración a la respiración
			p.card-description
				| Mucho mas importante que tener el control sobre una situación es tener vínculos correctos.
			.card-footer
				a.btn.btn-primary(href='#nuk') Read Article
.col-md-6.offset-md-2.col-lg-4.offset-lg-0
	.card.card-blog
		.card-image
			img.img.rounded(src='assets/img/bg15.jpg')
		.card-body
			h6.category.text-warning
				i.now-ui-icons.media-1_camera-compact
				|  Photo
			h5.card-title
				a(href='#') La creatividad siempre consiste en conectar cosas
			.card-footer
				.stats.stats-right
					i.now-ui-icons.ui-2_favourite-28
					|  342 &middot;
					i.now-ui-icons.files_single-copy-04
					|  45
				.author
					img.avatar(src='assets/img/avatar.jpg' alt='...')
					span Sergio Forés
