.col-md-6.col-lg-3
	.card.card-profile.card-plain
		.card-image
			img.img.rounded(src='assets/img/avatar.jpg')
		.card-body
			a(href='pablo')
				h4.card-title Julie Andrew
			h6.card-category.text-info
				| Web Designer
			.card-footer
				a.btn.btn-icon.btn-neutral.btn-lg.btn-twitter(href='#pablo')
					i.fa.fa-twitter
				a.btn.btn-icon.btn-neutral.btn-lg.btn-dribbble(href='#pablo')
					i.fa.fa-dribbble
				a.btn.btn-icon.btn-neutral.btn-lg.btn-instagram(href='#pablo')
					i.fa.fa-instagram
.col-md-6.col-lg-3
	.card.card-profile.card-plain
		.card-avatar
			a(href='#pablo')
				img.img(src='assets/img/avatar.jpg')
		.card-body
			h4.card-title Alec Mike
			h6.category.text-gray
				| Designer
			p.card-description
				| Todo en la vida sigue el mismo proceso. Una persona, un equipo, un producto... todo es una conversación que puede fluir en coherencia con la vida.
			.card-footer
				a.btn.btn-icon.btn-twitter.btn-round(href='#pablo')
					i.fa.fa-twitter
				a.btn.btn-icon.btn-facebook.btn-round(href='#pablo')
					i.fa.fa-facebook-square
				a.btn.btn-icon.btn-google.btn-round(href='#pablo')
					i.fa.fa-google
.col-md-6.col-lg-3
	.card.card-profile.card-plain
		.card-avatar
			a(href='#pablo')
				img.img(src='assets/img/avatar.jpg')
		.card-body
			h6.card-category CEO / Co-Founder
			h4.card-title James Thompson
			p.card-description
				| Todo en la vida sigue el mismo proceso. Una persona, un equipo, un producto... todo es una conversación que puede fluir en coherencia con la vida.
			a.btn.btn-primary.btn-round(href='#pablo') Follow
.col-md-6.col-lg-3
	.card.card-profile.card-plain
		.card-body
			.card-avatar
				a(href='#pablo')
					img.img(src='assets/img/avatar.jpg')
			h6.category.text-gray Growth Hacker
			h4.card-title Olivia Thompson
			p.card-description
				| &quot;Work hard play harder.&quot;
			.card-footer
				a.btn.btn-icon.btn-primary.btn-simple.btn-round(href='#pablo')
					i.fa.fa-twitter
				a.btn.btn-icon.btn-primary.btn-simple.btn-round(href='#pablo')
					i.fa.fa-facebook-square
				a.btn.btn-icon.btn-primary.btn-simple.btn-round(href='#pablo')
					i.fa.fa-google
