.container-fluid
	.row
		.col-md-6.px-0
			.card.card-fashion.card-background(style="background-image: url('assets/img/bg15.jpg')")
				.card-body
					.card-title.text-left
						h2
							a(href='#')
								| TODH - Acompañamiento de procesos
					.card-footer.text-left
						.stats
							span
								i.now-ui-icons.users_circle-08
								| Author
							span
								i.now-ui-icons.tech_watch-time
								|  June 2, 2017
						.stats-link.pull-right
							a.footer-link(href='#') People
		.col-md-6.px-0
			.card-container
				.card.card-fashion
					h4.card-title
						a(href='#')
							| The view from south Texas in one Picture
					.card-body
						.card-footer
							.stats
								span
									i.now-ui-icons.users_circle-08
									| Author
								span
									i.now-ui-icons.tech_watch-time
									|  June 2, 2017
							.stats-link.pull-right
								a(href='#') Mountains
								| &sbquo;
								a(href='#') Outdoor
				.card.card-fashion.card-background(style="background-image: url('assets/img/bg17.jpg')")
