.col-md-6.col-lg-4
	.card(data-background-color='black')
		.card-body.content-danger
			h6.category-social
				i.fa.fa-apple
				|  New Apps
			h4.card-title
				a(href='#nuk') La creatividad siempre consiste en conectar cosas
			p.card-description
				| Yesterday, as Facebook launched its news reader app Paper, design-focused startup FiftyThree called out Facebook publicly for using their brand name...
			.card-footer.text-center
				a.btn.btn-default.btn-round(href='#') Read Article
.col-md-6.col-lg-4
	.card.card-blog
		.card-image
			a(href='#')
				img.img.rounded(src='assets/img/bg15.jpg')
		.card-body
			h6.category.text-primary Features
			h5.card-title
				| That&rsquo;s Subversiva honestidad
			p.card-description
				| Todo es un campo de información desde el que todo surge y al cual todo vuelve.
			.card-footer
				.author
					img.avatar(src='assets/img/avatar.jpg' alt='...')
					span Mike John
				.stats.stats-right
					i.now-ui-icons.tech_watch-time
					|  5 min read
.col-md-6.col-lg-4
	.card(data-background-color='twitter')
		.card-body
			h6.category-social
				i.fa.fa-twitter
				|  Twitter
			p
				| &quot;La creatividad siempre consiste en conectar cosas.&quot;
			.card-footer
				.author
					img.avatar(src='assets/img/avatar.jpg' alt='...')
					span Steve Jobs
				.stats.stats-right
					i.now-ui-icons.ui-2_favourite-28
					|  2.4K &middot;
					i.now-ui-icons.files_single-copy-04
					|  45
