.col-md-6
	.card.card-background(style="background-image: url('assets/img/bg15.jpg')")
		.card-body
			.card-title.text-left
				h3 La creatividad siempre consiste en conectar cosas
			.card-footer.text-left
				.stats
					span
						i.now-ui-icons.media-2_sound-wave
						| SPACE.com
					span
						i.now-ui-icons.tech_watch-time
						|  20min ago
				.stats-link.pull-right
					a.footer-link(href='#') Environment
.col-md-6
	.card.card-background(style="background-image: url('assets/img/bg17.jpg')")
		.card-body
			.card-title.text-left
				h3 How wild Animals live in the National Forest
			.card-footer.text-left
				.stats-link
					a.footer-link(href='#') Environment
				.stats.stats-right
					span
						i.now-ui-icons.media-2_sound-wave
						| SPACE.com
					span
						i.now-ui-icons.tech_watch-time
						|  20min ago
