.col-md-6.col-lg-3
	.card.card-pricing
		.card-body
			h6.category Acompañamiento de procesos
			.icon.icon-primary
				i.now-ui-icons.objects_diamond
			h3.card-title $67
			p.card-description
				| La creatividad siempre consiste en conectar cosas
			a.btn.btn-primary.btn-round(href='#') Add to Cart
.col-md-6.col-lg-3
	.card.card-pricing(data-background-color='orange')
		.card-body
			h1.card-title $40
			ul
				li
					i.now-ui-icons.ui-1_check.text-primary
					|  Unlimited MB
				li
					i.now-ui-icons.ui-1_check.text-primary
					|  Unlimited emails
				li
					i.now-ui-icons.ui-1_check.text-primary
					|  Unlimited Databases
				li
					i.now-ui-icons.ui-1_check.text-primary
					|  Full Support
			a.btn.btn-neutral.btn-default.disabled.btn-round(href='#')
				| Current Plan
.col-md-6.col-lg-3
	.card.card-pricing.card-background(style="background-image: url('assets/img/bg17.jpg')")
		.card-body
			h6.category Professional
			.icon.icon-primary
				i.now-ui-icons.objects_spaceship
			h2.card-title $67
			p.card-description
				| This is good if you are a freelancer of photographer.
			a.btn.btn-primary.btn-round(href='#')
				| Sign Up
.col-md-6.col-lg-3
	.card.card-pricing
		.card-body
			h6.category Starter
			h1.card-title
				small $
				| 10
			ul
				li
					i.now-ui-icons.ui-1_check.text-success
					|  1000 MB
				li
					i.now-ui-icons.ui-1_simple-remove.text-danger
					|  3 email
				li
					i.now-ui-icons.ui-1_simple-remove.text-danger
					|  5 Databases
				li
					i.now-ui-icons.ui-1_simple-remove.text-danger
					|  No Support
			a.btn.btn-primary.btn-round(href='#')
				| Register
