.col-md-6.col-lg-3
	.card.card-profile
		.card-image
			img.img.rounded(src='assets/img/avatar.jpg')
		.card-body
			a(href='')
				h4.card-title Julie Andrew
			h6.card-category.text-info
				| Web Designer
			.card-footer
				a.btn.btn-icon.btn-neutral.btn-lg.btn-twitter(href='#')
					i.fa.fa-twitter
				a.btn.btn-icon.btn-neutral.btn-lg.btn-dribbble(href='#')
					i.fa.fa-dribbble
				a.btn.btn-icon.btn-neutral.btn-lg.btn-instagram(href='#')
					i.fa.fa-instagram
.col-md-6.col-lg-3
	.card.card-profile
		.card-avatar
			a(href='#')
				img.img(src='assets/img/avatar.jpg')
		.card-body
			h4.card-title Alec Mike
			h6.category.text-gray
				| Designer
			p.card-description
				| Mucho mas importante que tener el control sobre una situación es tener vínculos correctos.
			.card-footer
				a.btn.btn-icon.btn-twitter.btn-round(href='#')
					i.fa.fa-twitter
				a.btn.btn-icon.btn-facebook.btn-round(href='#')
					i.fa.fa-facebook-square
				a.btn.btn-icon.btn-google.btn-round(href='#')
					i.fa.fa-google
.col-md-6.col-lg-3
	.card.card-profile(data-background-color='black')
		.card-avatar
			a(href='#')
				img.img(src='assets/img/avatar.jpg')
		.card-body
			h6.card-category CEO / Co-Founder
			h4.card-title James Thompson
			p.card-description
				| Don&apos;t be scared of the truth because we need to restart the human foundation in truth.
			a.btn.btn-primary.btn-round(href='#') Follow
.col-md-6.col-lg-3
	.card.card-profile
		.card-body
			.card-avatar
				a(href='#')
					img.img(src='assets/img/avatar.jpg')
			h6.category.text-gray Growth Hacker
			h4.card-title Olivia Thompson
			p.card-description
				| &quot;Work hard play harder.&quot;
			.card-footer
				a.btn.btn-icon.btn-primary.btn-simple.btn-round(href='#')
					i.fa.fa-twitter
				a.btn.btn-icon.btn-primary.btn-simple.btn-round(href='#')
					i.fa.fa-facebook-square
				a.btn.btn-icon.btn-primary.btn-simple.btn-round(href='#')
					i.fa.fa-google
