#blogs-2.blogs-2
	.container
		.row
			.col-md-10.ml-auto.mr-auto
				h2.title Latest Blogposts 2
				br
				.row.justify-content-center
					.col-md-5
						.card.card-plain.card-blog
							.card-image
								a(href='#')
									img.img.rounded(src='assets/img/bg15.jpg')
							.card-body
								h6.category.text-info Enterprise
								h5.card-title
									a(href='#') Alexa brings hands-free TV to more devices
								p.card-description
									| Alexa&rsquo;s latest trick is offering a hands-free TV viewing experience, that will allow consumers to turn on or off their television, change inputs, fast forward, rewind and more, without having to first invoke a specific skill, or even press a button on their remote.
									a(href='#') Read More 
					.col-md-5
						.card.card-plain.card-blog
							.card-image
								a(href='#')
									img.img.rounded(src='assets/img/bg15.jpg')
							.card-body
								h6.category.text-success
									| M&amp;A
								h5.card-title
									a(href='#') Uber, Yandex combine ridesharing and UberEATS in $3.72B. JV
								p.card-description
									| As Uber works through a huge amount of internal management turmoil, the company is also consolidating and rationalizing more of its international business. Today, the company announced it will be combining its rides-on-demand business and UberEATS.
									a(href='#') Read More
				.row.justify-content-center
					.col-md-5
						.card.card-plain.card-blog
							.card-image
								a(href='#')
									img.img.rounded(src='assets/img/bg17.jpg')
							.card-body
								h6.category.text-info Music
								h5.card-title
									a(href='#') The Affect Music Has On Different Teens
								p.card-description
									| Music is something that every person has his or her own specific opinion about. Different people have different taste, and various types of music have many ways of leaving an impact on someone.
									a(href='#') Read More 
					.col-md-5
						.card.card-plain.card-blog
							.card-image
								a(href='#')
									img.img.rounded(src='assets/img/bg15.jpg')
							.card-body
								h6.category.text-success
									| Broadcasting
								h5.card-title
									a(href='#') Radio networks to broadcast a common radio format
								p.card-description
									| Radio broadcasting is a unidirectional wireless transmission over radio waves intended to reach a wide audience. Stations can be linked in radio networks to broadcast a common radio format.
									a(href='#')  Read More 
