section.container-fluid
	//- h1.title Blog
	.row
		.col-md-6
			.card.card-blog
				.card-image
					a(href='./doce-arquetipos.html')
						img.img.rounded(src='assets/img/bg3.jpg')
				.card-body
					//- h6.category.text-primary Features
					h5.card-title
						| Los doce arquetipos universales
					p.card-description
						| y algunas de sus analogías
					//- .card-footer
					//- 	.author
					//- 		img.avatar(src='assets/img/avatar.jpg' alt='...')
					//- 		span Mike John
					//- 	.stats.stats-right
					//- 		i.td-icon.td-shape-polygon
					//- 		small 5 min read
		.col-md-6
			.card.card-blog
				.card-image
					a(href='./que-es-todh.html')
						img.img.rounded(src='assets/img/bg7.jpg')
				.card-body
					//- h6.category.text-danger.
						Animals
					h5.card-title.
						TODH
					p.card-description.
						Transmite. Observa. Discierne. Haz.
					//- .card-footer
					//- 	.author
					//- 		img.avatar(src='assets/img/avatar.jpg' alt='...')
					//- 		span Otto Forés
					//- 	.stats.stats-right
					//- 		i.td-icon.td-shape-polygon.text-info 
					//- 		small 5 min read
