#blogs-4.blogs-4
	.container
		.row
			.col-md-8.ml-auto.mr-auto
				h2.title Latest Blogposts 4
				br
				.card.card-plain.card-blog
					.card-image
						a(href='./doce-arquetipos.html')
							img.img.rounded(src='assets/img/bg3.jpg')
					h6.category.text-info Fashion
					h3.card-title
						a(href='./doce-arquetipos.html') Groupon Moves Into Flash Fashion
					h5.card-description
						| More acquisitions for Groupon to widen the net of consumers using its platform for more than daily deals. Today it is announcing the acquisition of ideeli, a flash fashion retailer, for $43 million in...
					a.btn.btn-primary.btn-round(href='#') Read More
				.card.card-plain.card-blog
					.card-image
						a(href='./que-es-todh.html')
							img.img.rounded(src='assets/img/bg7.jpg')
					h6.category.text-success Entertainment
					h3.card-title
						a(href='./que-es-todh.html') When music and technology collide
					h5.card-description
						| Some might say that technology is killing the music industry. But if you look around, there&rsquo;s a beautiful marriage there &mdash; the music industry is evolving every day, and artists are embracing technology in new and innovative ways...
					a.btn.btn-primary.btn-round(href='#')  Read More
