
section.section-va.container
	.row
		.col-md-10.ml-auto.mr-auto
			h1.title Latest Ideas
			br
			.card.card-plain.card-blog
				.row
					.col-md-5
						.card-image
							img.img.rounded(src='assets/img/bg3.jpg')
					.col-md-7
						h6.category.text-info Enterprise
						h3.card-title
							a(href='./doce-arquetipos.html') Crear realidad es heredar las propiedades de la Creación misma. Hacer lo que ella hace.
						p.card-description
							| Warner Music Group announced today it&rsquo;s acquiring the selected assets of the music platform Songkick, including its app for finding concerts and the company&rsquo;s trademark. Songkick has been involved in a lawsuit against the major&mldr;
							a(href='./doce-arquetipos.html') Read More 
						p.author
							| by 
							a(href='./doce-arquetipos.html')
								b Sergio Forés
							| , 2 days ago
			.card.card-plain.card-blog
				.row
					.col-md-7
						h6.category.text-danger
							i.now-ui-icons.now-ui-icons.media-2_sound-wave
							|  Astrología Humanista
						h3.card-title
							a(href='./que-es-todh.html') Los 12 arquetipos universales
						p.card-description
							| Una mente mecanicista no puede aportar soluciones creativas sin antes darse cuenta de su propia mecanicidad.
							a(href='./que-es-todh.html') Read More 
						p.author
							| by
							a(href='./que-es-todh.html') 
								b Sergio Forés
							| , 5 days ago
					.col-md-5
						.card-image
							img.img.rounded(src='assets/img/bg7.jpg')
