//- CONFIG VARIABLES
- var Language = 'es'
- var PageTitle = 'TODH'
- var PageDescription = 'todh'
- var MetaDesc = 'todh'
- var Author = 'Sergio Forés'
- var GoogleFont = 'Montserrat:100,200,300,400,700,900'
//- var GoogleFont = 'Source+Sans+Pro:300,600,700'
//- var GoogleFont = 'Lato:300,400,900'
//- var GoogleFonts = 'Garamond:400,700,200'
